﻿
@{
    ViewData["Title"] = "AccessDenied";

}

<div class="card">
    <div class="card-body">
        <h1 class="text-center">You do not have access to this page</h1>
        <div class="row">
            <div class="col text-center">
                <p>Click <a class="accent-text-color" asp-controller="home" asp-action="index">here</a> to return to the home page.</p>
            </div>
        </div>
    </div>
</div>

