﻿@model CareConnectionApp.ViewModels.Account.AdminSettingsViewModel
@{
    ViewData["Title"] = "Admin Settings";
    Layout = "_AdminLayout";
    var success = ViewData["Success"] != null ? (bool)ViewData["Success"] ? true : false : false;
    @section Breadcrumb {
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
        <a class="btn btn-outline-primary" aria-current="page" asp-action="">Admin Settings</a>
    }
}

<div class="card shadow">
    <div class="card-body">
        <h1>Admin Settings</h1>
        @if (success)
        {
            <div class="alert alert-success" role="alert">
                Admin settings saved.
            </div>
        }
        <div class="row">
            <div class="col-lg-4">
                <form asp-action="AdminSettings">
                    <input asp-for="UserId" class="form-control" hidden />
                    <div class="form-group">
                        <label asp-for="AlertDuration" class="control-label">How many days should alerts last? Default is 30.</label>
                        <input asp-for="AlertDuration" class="form-control" />
                        <span asp-validation-for="AlertDuration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AtAGlanceDuration" class="control-label">How far back should the admin dashboard at a glance statistics go? Default is 4 months (quarterly).</label>
                        <input asp-for="AtAGlanceDuration" class="form-control" />
                        <span asp-validation-for="AtAGlanceDuration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RecentRequestsSetting" class="control-label">How many client requests should be shown on the admin dashboard? Default is 5.</label>
                        <input asp-for="RecentRequestsSetting" class="form-control" />
                        <span asp-validation-for="RecentRequestsSetting" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceListLimit" class="control-label">How many client should be allowed on the service list? Default is 75.</label>
                        <input asp-for="ServiceListLimit" class="form-control" />
                        <span asp-validation-for="ServiceListLimit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Update</button>
                        <a class="btn btn-danger" asp-action="ManageAccount">Cancel <i class="fas fa-times"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}