﻿@model ApplicationUser
@{
    ViewData["Title"] = "EmailConfirmation";
}

Confirm Email
<form asp-action="EmailConfirmation">
    <input name="userId" id="=userId" value="@Model.Id" hidden />
    <button class="btn btn-success" type="submit">Submit</button>
</form>
@{
    ViewData["Title"] = "Confirm Email";
    Layout = "_AdminLayout";
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="NewUser">New User</a>
}

<div class="card">
    <div class="card-body">
        <h1>Create new user</h1>
        <div class="row">
            <div class="col-lg-4">
                <form asp-action="NewUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="userId"></label>
                        <input name="userId" id="=userId" value="@Model.Id" hidden />
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <a class="btn btn-danger" asp-action="Index">Cancel <i class="fas fa-times"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}