﻿@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container-fluid vh-100 text-center">
    <div class="row h-75 mx-2 align-items-center text-center">
        <div class="col-lg-4 offset-lg-4">
            <img src="~/img/coa-logo.png" class="mb-0" />
            <div class="row">
                <div class="col bg-white rounded shadow">
                    <h3 class="text-black my-3">Care Connection Application</h3>
                    <h5 class="text-black my-3">Forgot Password Form</h5>
                    <div class="row">
                        <div class="col-lg"></div>
                        <div class="col-lg-6 text-center">
                            <form asp-action="ForgotPassword">
                                <label for="email">Email Address</label>
                                <input name="email" id="email" type="text" class="form-control" />
                                <button type="submit" class="btn btn-success my-2">Submit</button>
                            </form>
                        </div>
                        <div class="col-lg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
