﻿@section Styles {
    <link rel="stylesheet" href="~/css/LoginStyles.css" />
}
@model CareConnectionApp.ViewModels.Shared.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid vh-100 text-center">
    <div class="row h-75 mx-2 align-items-center text-center">
        <div class="col-lg-4 offset-lg-4">
            <img src="~/img/coa-logo.png" class="mb-0" />
            <div class="row">
                <div class="col bg-white rounded shadow">
                    <h3 class="text-black my-3">Care Connection Application</h3>
                    <form method="post" class="loadingForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row my-3">
                            <div class="col">
                                <input asp-for="Username" class="form-control" placeholder="Your username" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col">
                                <input asp-for="Password" class="form-control" placeholder="Your password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col">
                                <input type="submit" value="Login" class="btn btn-success" />
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col">
                                <a class="text-link text-primary" asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
