﻿@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@model CareConnectionApp.Models.ApplicationUser
@{
    ViewData["Title"] = "Manage Your Account";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Manage Account</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Account</li>
        }
    }
}

<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <a class="btn btn-primary mb-2" asp-action="Login">Return Home</a>
        <div class="row">
            <div class="col-lg-4">
                <div class="list-group">
                    <a asp-action="UpdateAccount" class="list-group-item list-group-item-action"><h5>Update Account Information</h5></a>
                    <a asp-action="ChangePassword" class="list-group-item list-group-item-action"><h5>Change Password</h5></a>
                    @if (admin)
                    {
                        <a asp-action="AdminSettings" asp-route-userId="@user.Id" class="list-group-item list-group-item-action">
                            <h5>Admin User Settings</h5>
                        </a>

                        if (user.EmailConfirmed)
                        {
                            <a class="list-group-item list-group-item-success"><h5>Email is Confirmed</h5></a>
                        }
                        else
                        {
                            <a asp-action="EmailConfirmation" asp-route-userId="@user.Id" class="list-group-item list-group-item-action">
                                <h5>Confirm Email</h5>
                                <p>Email confirmation allows you to recover your password via email.</p>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>