﻿@model CareConnectionApp.ViewModels.Shared.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid vh-100 text-center">
    <div class="row h-75 mx-2 align-items-center text-center">
        <div class="col-lg-4 offset-lg-4">
            <img src="~/img/coa-logo.png" class="mb-0" />
            <div class="row">
                <div class="col bg-white rounded shadow">
                    <h3 class="text-black my-3">Care Connection Application</h3>
                    <h5 class="text-black my-3">Password Reset Form</h5>
                    <div class="row">
                        <div class="col-lg"></div>
                        <div class="col-lg-6 text-center">
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input asp-for="Token" type="hidden" />
                                <input asp-for="Email" type="hidden" />
                                <div class="form-group">
                                    <label asp-for="Password">New Password</label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-success my-2">Reset</button>
                            </form>
                        </div>
                        <div class="col-lg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
