﻿@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a class="dropdown-item" asp-controller="Account" asp-action="ManageAccount">Manage Account</a>
    <a class="dropdown-item text-danger" asp-controller="Account" asp-action="Logout">Logout</a>
}
else
{
    <a class="dropdown-item text-danger" asp-controller="Account" asp-action="Login">Login</a>
}
