﻿@{
    Layout = "_Layout";
}
@section Styles{
    <link rel="stylesheet" href="~/css/AdminStyles.css" />
    @RenderSection("AdditionalStyles", required: false)
}
<div id="wrapper" class="bg-primary">
    <!--Mobile Navigation-->
    <nav class="navbar navbar-dark bg-primary d-md-none">
        <a class="text-white navbar-brand" asp-controller="admin" asp-action="index"><h2>CCA</h2></a>

        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#mobileNav" aria-controls="mobileNav" aria-expanded="false" aria-label="Toggle mobile navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobileNav">
            <div class="navbar-nav">
                <!--User Management Section-->
                <a class="dropdown-toggle text-white nav-item" href="" data-toggle="collapse" data-target="#mobileUserOptions">
                    User Management
                </a>
                <div id="mobileUserOptions" class="collapse">
                    <nav class="nav flex-column">
                        <a class="text-white dropdown-item" asp-controller="Users" asp-action="NewUser">Create New User</a>
                        <a class="text-white dropdown-item" asp-controller="Users" asp-action="ViewUsers">View Users</a>
                    </nav>
                </div>

                <!--Generate Reports Section-->
                <a class="text-white nav-item" asp-controller="Reporting" asp-action="Reporting">
                    Reporting
                </a>

                <!--Clients Section-->
                <a class="dropdown-toggle text-white nav-item" href="" data-toggle="collapse" data-target="#mobileClientOptions">
                    Clients
                </a>
                <div id="mobileClientOptions" class="collapse">
                    <nav class="nav flex-column">
                        <a class="text-white dropdown-item" asp-controller="Clients" asp-action="ViewClients">View Clients</a>
                        <a class="text-white dropdown-item" asp-controller="Clients" asp-action="CreateClient">Create Client</a>
                    </nav>
                </div>

                <!--Work Requests Section-->
                <a class="dropdown-toggle text-white nav-item" href="" data-toggle="collapse" data-target="#mobileWorkRequestOptions">
                    Work Requests
                </a>
                <div id="mobileWorkRequestOptions" class="collapse">
                    <nav class="nav flex-column">
                        <a class="text-white dropdown-item" asp-controller="Clients" asp-action="SearchWorkOrders">View Work Requests</a>
                        <a class="text-white dropdown-item" asp-controller="Clients" asp-action="ViewClients">Create Work Request</a>
                    </nav>
                </div>

                <!--Lawn Service Section-->
                <a class="dropdown-toggle text-white nav-item" href="" data-toggle="collapse" data-target="#mobileReportOptions">
                    Lawn Service
                </a>
                <div id="mobileReportOptions" class="collapse">
                    <nav class="nav flex-column">
                        <a class="text-white dropdown-item" asp-controller="Reporting" asp-action="ViewPendingApprovalList">Pending Approval</a>
                    </nav>
                </div>

                <!--System Section-->
                <a class="dropdown-toggle text-white nav-item" href="" data-toggle="collapse" data-target="#mobileSystemOptions">
                    System
                </a>
                <div id="mobileSystemOptions" class="collapse">
                    <nav class="nav flex-column">
                        <a class="text-white dropdown-item" asp-controller="Admin" asp-action="ViewWorkOrderCategories">Work Order Categories</a>
                        <a class="text-white dropdown-item" asp-controller="Admin" asp-action="ViewAssistiveDevices">Assistive Devices</a>
                        <a class="text-white dropdown-item" asp-controller="Admin" asp-action="AddZone">Add Zone</a>
                    </nav>
                </div>
                <!--Account Section-->
                <a class="dropdown-toggle text-white" data-toggle="collapse" data-target="#mobileAccountOptions">Account</a>
                <div id="mobileAccountOptions" class="collapse dropdown-menu">
                    <a asp-controller="Home" asp-action="HelpfulLinks" class="dropdown-item">Helpful Links</a>
                    <partial name="_AdminLoginPartial" />
                </div>
                <a class="text-white" href="" data-toggle="modal" data-target="#alertModal">
                    Alerts <span class="badge badge-warning unreadAlertCount"></span>
                </a>
            </div>
        </div>
    </nav>

    <!--SideNav-->
    <div class="bg-primary text-center d-none d-md-block" id="sidebar-wrapper">
        <a class="text-white" asp-controller="admin" asp-action="index"><h2 id="fullHeader" class="text-white">CareConnectionApp</h2></a>
        <a class="text-white" asp-controller="admin" asp-action="index"><h2 id="smallHeader" class="text-white">CCA</h2></a>
        <nav class="nav flex-column">

            <!--User Management Section-->
            <div class="row w-100 no-gutters my-4">
                <div class="col">
                    <a class="text-white" href="" data-toggle="collapse" data-target="#userOptions">
                        <strong>Users</strong>
                        <h4>User Management</h4>
                    </a>
                    <div id="userOptions" class="collapse">
                        <nav class="nav flex-column">
                            <a class="text-white nav-link" asp-controller="Users" asp-action="NewUser">Create New User</a>
                            <a class="text-white nav-link" asp-controller="Users" asp-action="ViewUsers">View Users</a>
                        </nav>
                    </div>
                </div>
            </div>

            <!--Generate Reports Section-->
            <div class="row w-100 no-gutters my-4">
                <div class="col">
                    <a class="text-white" asp-controller="Reporting" asp-action="Reporting">
                        <strong>Reports</strong>
                        <h4>Generate Reports</h4>
                    </a>
                </div>
            </div>

            <!--Clients Section-->
            <div class="row w-100 no-gutters my-4">
                <div class="col">
                    <a class="text-white" href="" data-toggle="collapse" data-target="#clientOptions">
                        <strong>Clients</strong>
                        <h4>Client Management</h4>
                    </a>
                    <div id="clientOptions" class="collapse">
                        <nav class="nav flex-column">
                            <a class="text-white nav-link" asp-controller="Clients" asp-action="ViewClients">View Clients</a>
                            <a class="text-white nav-link" asp-controller="Clients" asp-action="CreateClient">Create Client</a>
                        </nav>
                    </div>
                </div>
            </div>

            <!--Work Request Section-->
            <div class="row w-100 no-gutters my-4">
                <div class="col">
                    <a class="text-white" href="" data-toggle="collapse" data-target="#workRequestOptions">
                        <strong>Requests</strong>
                        <h4>Work Requests</h4>
                    </a>
                    <div id="workRequestOptions" class="collapse">
                        <nav class="nav flex-column">
                            <a class="text-white nav-link" asp-controller="Clients" asp-action="SearchWorkOrders">View Work Requests</a>
                            <a class="text-white nav-link" asp-controller="Clients" asp-action="ViewClients">Create Work Request</a>
                        </nav>
                    </div>
                </div>
            </div>

            <!--Lawn Service Section-->
            <div class="row w-100 no-gutters my-4">
                <div class="col">
                    <a class="text-white" href="" data-toggle="collapse" data-target="#lawnServiceOptions">
                        <strong>Lawn</strong>
                        <h4>Lawn Service</h4>
                    </a>
                    <div id="lawnServiceOptions" class="collapse">
                        <nav class="nav flex-column">
                            <a class="text-white nav-link" asp-controller="Admin" asp-action="ViewPendingApprovalList">Pending Approval</a>
                            <a class="text-white nav-link" asp-controller="Clients" asp-action="ViewWaitList">Wait List</a>
                            <a class="text-white nav-link" asp-controller="Clients" asp-action="ViewServiceList">Service List</a>
                        </nav>
                    </div>
                </div>
            </div>


            <!--System Config section-->
            <div class="row w-100 no-gutters my-4">
                <div class="col">
                    <a class="text-white" href="" data-toggle="collapse" data-target="#systemOptions">
                        <strong>System</strong>
                        <h4>System Config</h4>
                    </a>
                    <div id="systemOptions" class="collapse">
                        <nav class="nav flex-column">
                            <a class="text-white nav-link" asp-controller="Admin" asp-action="ViewWorkOrderCategories">Work Order Categories</a>
                            <a class="text-white nav-link" asp-controller="Admin" asp-action="ViewAssistiveDevices">Assistive Devices</a>
                            <a class="text-white nav-link" asp-controller="Admin" asp-action="ViewZones">Zones</a>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!--Main Content-->
    <div class="bg-light min-vh-100" id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="btn-group my-2">
                        <button class="btn btn-primary d-none d-md-block" id="menu-toggle"><i class="fas fa-bars"></i></button>
                        @RenderSection("Breadcrumb", required: false)
                    </div>
                </div>
                <div class="col d-none d-md-block">
                    <div class="float-right my-2">
                        <button class="btn btn-primary rounded mr-1" data-toggle="modal" data-target="#alertModal">
                            <i class="fas fa-bell"></i>

                            <span class="badge badge-warning unreadAlertCount"></span>

                        </button>

                        <button class="btn btn-primary rounded ml-1 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="accountDropdown"><i class="fas fa-user"></i></button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
                            <a asp-controller="Home" asp-action="HelpfulLinks" class="dropdown-item">Helpful Links</a>
                            <partial name="_AdminLoginPartial" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-xlg" role="document">
        <div class="modal-content p-5">
            <div class="modal-header mb-2">
                <h4 class="modal-title" id="alertModalTitle">Alerts</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <nav>
                <div class="nav nav-pills" id="alertTabs" role="tablist">
                    <a class="nav-item nav-link active" id="nav-unread-tab" data-toggle="tab" href="#unreadTab" role="tab" aria-controls="nav-unread-tab" aria-selected="true">Unread <span class="badge badge-warning unreadAlertCount"></span></a>
                    <a class="nav-item nav-link" id="nav-all-tab" data-toggle="tab" href="#allTab" role="tab" aria-controls="nav-all-tab" aria-selected="false">All <span class="badge badge-light allAlertCount"></span></a>
                </div>
            </nav>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="unreadTab" role="tabpanel" aria-labelledby="nav-unread-tab">
                    <div class="container-fluid">
                        <div class="row w-100 alert-controls" id="unreadAlertsControls"></div>
                    </div>
                    <div class="read-button delete-button" id="unreadAlertsList"></div>
                </div>
                <div class="tab-pane fade" id="allTab" role="tabpanel" aria-labelledby="nav-all-tab">
                    <div class="container-fluid">
                        <div class="row w-100 alert-controls" id="allAlertsControls"></div>
                    </div>
                    <div class="read-button delete-button" id="allAlertsList"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("menuDisplayed");
            });

            $('#frequency').change(function () {
                $('#frequencyVal').html($(this).val());
            });

            getAlerts();

            $(".read-button").click(function (e) {
                markRead(e);
            });

            $(".delete-button").click(function (e) {
                deleteAlert(e);
            });

            $(".alert-controls").click(function (e) {
                handleAlertControls(e);
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/admin_scripts/alerts.js"></script>
}
@section ScriptLibraryImport {
    @RenderSection("ScriptLibraryImport", false)
}