﻿@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown rounded">
        <a class="nav-link dropdown-toggle text-primary" href="" id="accountDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @UserManager.GetUserName(User)
        </a>
        <div class="dropdown-menu" aria-labelledby="accountDropDown">
            <a asp-controller="Home" asp-action="HelpfulLinks" class="dropdown-item">Helpful Links</a>
            <a class="dropdown-item" asp-controller="Account" asp-action="ManageAccount">Manage Account</a>
            <a class="dropdown-item text-danger" asp-controller="Account" asp-action="Logout">Logout</a>
        </div>
    </li>
}
else
{
    <li class="nav-item rounded">
        <a class="nav-link text-primary" id="login" asp-controller="account" asp-action="login">Login</a>
    </li>
}
