﻿@{ 
    Layout = "_Layout";
}
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow mb-2">
    <div class="container-fluid mx-4">
        <a class="navbar-brand text-primary" asp-controller="Clients" asp-action="ViewClients">CareConnectionApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuItems" aria-controls="menuItems"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuItems">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" asp-controller="Clients" asp-action="ViewClients">Home</a>
                </li>
                <li>
                    <a class="nav-link text-primary" asp-controller="Clients" asp-action="SearchWorkOrders">View Work Requests</a>
                </li>

                <li class="nav-item dropdown rounded">
                    <a class="nav-link dropdown-toggle text-primary" href="" id="lawnServiceDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lawn Service
                    </a>
                    <div class="dropdown-menu" aria-labelledby="lawnServiceDropDown">
                        <a class="dropdown-item text-primary" asp-controller="Clients" asp-action="ViewWaitList">Wait List</a>
                        <a class="dropdown-item text-primary" asp-controller="Clients" asp-action="ViewServiceList">Lawn Service List</a>
                    </div>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2 bg-primary">
        @RenderSection("OfficeStaffBreadcrumb", required: false)
    </ol>
</nav>
@RenderBody();
@RenderSection("Scripts", required: false);