﻿@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@model CareConnectionApp.ViewModels.Shared.ConfirmationViewModel
@{
    ViewData["Title"] = "Confirmation";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (Model.Id != null)
    {
        if (admin)
        {
            Layout = "_AdminLayout";
            @section Breadcrumb {
                <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
                <a class="btn btn-outline-primary" aria-current="page" asp-action="">Confirmation</a>
            }
        }
        else
        {
            Layout = "_OfficeStaffNavPartial";
            @section OfficeStaffBreadcrumb {
                <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Confirmation</li>
            }
        }
    }
}

<div class="card">
    <div class="card-body">
        @if (Model.Id == null)
        {
            if (Model.Sender == "Clients")
            {
                <h1 class="text-center">
                    @Model.Message
                </h1>
                <div class="row">
                    <div class="col text-center">
                        <a class="btn btn-primary text-center" asp-controller="Clients" asp-action="Index">Return home</a>
                    </div>
                </div>
            }
            else
            {
                <h1 class="text-center">
                    @Model.Message
                </h1>
                <div class="row">
                    <div class="col text-center">
                        <a class="btn btn-primary text-center" asp-action="Index">Return to login</a>
                    </div>
                </div>
            }
        }
        else
        {
            <h1>
                @Model.Message
            </h1>
            if (Model.Sender == "Users")
            {
                <a class="btn btn-primary" asp-action="ManageUser" asp-route-id="@Model.Id">Return to manage user</a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="ManageAccount" asp-route-id="@Model.Id">Return to manage user</a>
            }

        }
    </div>
</div>