﻿@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@model CareConnectionApp.Models.ApplicationUser
@{
    ViewData["Title"] = "Helpful Links";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Helpful Links</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Helpful Links</li>
        }
    }
}

<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="list-group">
                    <a asp-controller="Clients" asp-action="BlankWorkOrder" class="list-group-item list-group-item-action" target="_blank"><h5>Blank Work Orders</h5></a>
                </div>
            </div>
        </div>

    </div>
</div>