﻿@model int
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Error Page";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Error</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Error</li>
        }
    }
}


<br />
<div class="alert alert-danger">
    <h1>An Error occured while processing your request.</h1>
    <h2>Exception Details: </h2>
    <hr />
    <h3>@ViewBag.ExceptionPath</h3><br />


    <h2>Exception Message: </h2>
    <hr />
    <h3>@ViewBag.ExceptionMessage</h3><br />
    </p>
    <strong>
        @if (admin)
        {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Click here to go home</a>
        }
        else
        {
            <a class="btn btn-primary" asp-controller="Clients" asp-action="ViewClients">Click here to go home</a>
        }
    </strong>
</div>
<div class="container">

</div>