﻿#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 100px;
    height: 100%;
    top: 0;
    overflow-y: hidden;
    -webkit-transition: width 0.5s;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    -webkit-transition: padding 0.5s;
}

@media (min-width: 768px) {
    #page-content-wrapper {
        padding-left: 100px;
    }
}

@media (max-width: 768px){
    #page-content-wrapper {
        height: auto;
    }
}

#wrapper.menuDisplayed #sidebar-wrapper {
    -webkit-transition: width 0.5s;
    width: 325px;
}

@media (min-width: 768px) {
    #wrapper.menuDisplayed #page-content-wrapper {
        -webkit-transition: padding 0.5s;
        padding-left: 325px;
    }
}

#wrapper #sidebar-wrapper #fullHeader {
    display: none;
}

#wrapper.menuDisplayed #sidebar-wrapper #smallHeader {
    display: none;
}

#wrapper.menuDisplayed #sidebar-wrapper #fullHeader {
    display: block;
}

#sidebar-wrapper div div a h4 {
    display: none;
}

#wrapper.menuDisplayed #sidebar-wrapper div div a h4 {
    display: block;
}

#wrapper.menuDisplayed #sidebar-wrapper div div a strong {
    display: none;
}

#wrapper.menuDisplayed #sidebar-wrapper .col {
    margin-left: 25px;
    text-align: left;
}

#wrapper.menuDisplayed #sidebar-wrapper nav div div div nav a {
    padding-left: 10px;
}

#sidebar-wrapper nav div div div nav {
    background-color: #040b2b;
    border-left: 2px solid white;
}

.favorite-client {
    color: yellow;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.home-card {
    height: 300px;
}

.healthy {
    color: #23B76C;
}

.unhealthy {
    color: #E52B54;
}

.removeFavorite:hover {
    color: #E52B54;
}