﻿body {
    background-color: #07113C;
}

textarea {
    resize: none;
}

.secondary-text-color {
    color: #FFC439;
}

.secondary-bg-color {
    background-color: #FFC439;
}

.accent-text-color {
    color: #0E45FB;
}

.accent-bg-color {
    background-color: #0E45FB;
}

.printClass {
    border-bottom: 1px solid darkgrey;
    background-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
}

.printComments {
    border: 1px solid darkgrey;
    height: 200px;
}

.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
    top: 0.1rem !important;
    left: -2rem !important;
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.custom-control-lg .custom-control-label {
    margin-left: 0.5rem !important;
    font-size: 1rem !important;
}

.custom-control-label:before {
    background-color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #07113C;
}

.custom-control-inline .custom-control-input:active ~ .custom-control-label::before {
    background-color: #07113C;
}

.hidden {
    display: none;
}

.show {
    display: inline;
    margin-top: 5px;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100;
    opacity: 0.85;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 2em;
    color: white;
    background-color: #07113C;
    border: none;
    text-align: center;
}

    #topBtn:focus {
        outline: 1px solid white;
    }

.input-validation-error {
    border-bottom: 2px solid red;
}

.form-control.valid {
    border-bottom: 2px solid #28a745;
}

.text-link:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .modal-xlg {
        max-width: 60%;
    }
}

.zipcode::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}