﻿@model CareConnectionApp.Models.ApplicationUser

@{
    ViewData["Title"] = "Manage User";
    Layout = "_AdminLayout";
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="ViewUsers">View Users</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="ManageUser" asp-route-id="@Model.Id">Manage @Model.FullName</a>
}


<div class="card shadow">
    <div class="card-body">
        <h1>Manage @Model.FullName</h1>
        <a class="btn btn-primary" asp-action="ViewUsers"><i class="fas fa-arrow-left"></i> Back to Users</a>
        <div class="row my-2">
            <div class="col-lg-3">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" asp-action="UpdateUserInfo" asp-route-id="@Model.Id">Update Information</a>
                    <a class="list-group-item list-group-item-action" asp-action="ManageUserRoles" asp-route-id="@Model.Id">Manage Roles</a>
                    <a class="list-group-item list-group-item-action" asp-action="UpdatePassword" asp-route-id="@Model.Id">Update Password</a>
                    <a class="list-group-item list-group-item-action" asp-action="ViewUserClients" asp-route-id="@Model.Id">Clients Created</a>
                </div>
            </div>
            <div class="col-lg">
                <div class="row">
                    <div class="col-lg">
                        <span class="text-muted">Email</span>
                        <p>@Model.Email</p>
                    </div>
                    <div class="col-lg">
                        <span class="text-muted">Username</span>
                        <p>@Model.UserName</p>
                    </div>
                    <div class="col-lg">
                        <span class="text-muted">Full Name</span>
                        <p>@Model.FullName</p>
                    </div>
                    <div class="col-lg">
                        <span class="text-muted">Last Login</span>
                        <p>@Model.LastLoginDate.DateTime</p>
                    </div>
                    <div class="col-lg">
                        <span class="text-muted">User Creation Date</span>
                        <p>@Model.CreateDate.DateTime</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

