﻿@using CareConnectionApp.ViewModels.Users
@model List<UserRolesViewModel>
@{
    ViewData["Title"] = "Manage User Roles";
    Layout = "_AdminLayout";
}
@{
    var userId = ViewBag.userId;
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="ViewUser">View Users</a>
    <a class="btn btn-primary" asp-action="ManageUser" asp-route-id="@userId">Manage User</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="ManageUserRoles" asp-route-id="@userId">Manage User Roles</a>
}



<form method="post">
    <div class="card shadow">
        <div class="card-body">
            <h2>Manage User Roles</h2>
            <div class="row my-2">
                <div class="col">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="custom-control custom-checkbox custom-control-inline custom-control-lg">
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />
                            <input asp-for="@Model[i].IsSelected" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="@Model[i].IsSelected">
                                @Model[i].RoleName
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <input type="submit" value="Update" class="btn btn-success" />
                    <a asp-controller="Users" asp-action="ManageUser" asp-route-id="@userId" class="btn btn-danger">Cancel <i class="fas fa-times"></i></a>
                </div>
            </div>
        </div>
    </div>
</form>
