﻿@model CareConnectionApp.ViewModels.Users.NewUserViewModel
@{
    ViewData["Title"] = "New User";
    Layout = "_AdminLayout";
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="NewUser">New User</a>
}

<div class="card">
    <div class="card-body">
        <h1>Create new user</h1>
        <div class="row">
            <div class="col-lg-4">
                <form asp-action="NewUser" class="loadingForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email Address<span class="text-danger">*</span></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label">Username<span class="text-danger">*</span></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label">Name <span class="text-danger">*</span></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoleName" class="control-label">Role<span class="text-danger">*</span></label>
                        <select asp-for="RoleName" class="custom-select">
                            <option selected value="">Select role</option>
                            <option value="Admin">Admin</option>
                            <option value="Office Staff">Office Staff</option>
                        </select>
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Password<span class="text-danger">*</span></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label">Confirm Password<span class="text-danger">*</span></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <a class="btn btn-danger" asp-action="Index">Cancel <i class="fas fa-times"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}