﻿@model CareConnectionApp.ViewModels.Users.UpdateUserInfoViewModel
@{
    ViewData["Title"] = "Update User Information";
    Layout = "_AdminLayout";
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="ViewUsers">View Users</a>
    <a class="btn btn-primary" asp-action="ManageUser" asp-route-id="@Model.Id">Manage User</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="UpdateUserInfo" asp-route-id="@Model.Id">Update User Information</a>
}

<div class="card">
    <div class="card-body">
        <h1>Update @Model.FullName's information</h1>
        <hr />
        <div class="row">
            <div class="col-lg-4">
                <form asp-action="UpdateUserInfo" class="loadingForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" class="form-control" hidden />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">Username<span class="text-danger">*</span></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email Address<span class="text-danger">*</span></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label">Name<span class="text-danger">*</span></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Update</button>
                        <a class="btn btn-danger" asp-action="ManageUser" asp-route-id="@Model.Id">Cancel <i class="fas fa-times"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}