﻿@model CareConnectionApp.ViewModels.Users.UpdatePasswordViewModel
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "_AdminLayout";
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="ViewUsers">View Users</a>
    <a class="btn btn-primary" asp-action="ManageUser" asp-route-id="@Model.Id">Manage User</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">Update Password</a>
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <form asp-action="UpdatePassword" class="loadingForm">
                    <input asp-for="Id" hidden />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NewPassword">New Password<span class="text-danger">*</span></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Update</button>
                        <a class="btn btn-danger" asp-action="ManageUser" asp-route-id="@Model.Id">Cancel <i class="fas fa-times"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}