﻿@model CareConnectionApp.ViewModels.Users.ViewUsersViewModel
@{
    ViewData["Title"] = "View Users";
    Layout = "_AdminLayout";
}
@section Breadcrumb{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="ViewUsers">View Users</a>
}

<div class="card shadow">
    <div class="card-body">
        <h1>List of Users</h1>
        <div class="row my-2">
            <div class="col">
                <a class="btn btn-primary" asp-action="NewUser">Add User</a>
                <nav class="nav form-inline nav-fill">
                    <form asp-action="ViewUsers" method="post">
                        <div class="row my-2">
                            <div class="col">
                                <input asp-for="SearchString" class="form-control" placeholder="Search" />
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-lg text-muted">
                                Search by email or username.
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <button type="submit" class="btn btn-success"><i class="fas fa-search"></i> Search</button>
                                <a asp-action="ViewUsers" class="btn btn-danger"><i class="fas fa-redo"></i> Reset</a>
                            </div>
                        </div>
                    </form>

                </nav>
            </div>
        </div>

        <table class="table table-hover table-sm" id="usersTable">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="border-0 text-link" onclick="sortStringInTable('usersTable', 0)">Email <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('usersTable', 1)">Username <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('usersTable', 2)">Name <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td><a asp-action="ManageUser" asp-route-id="@user.Id">@user.Email</a></td>
                        <td><a asp-action="ManageUser" asp-route-id="@user.Id">@user.UserName</a></td>
                        <td><a asp-action="ManageUser" asp-route-id="@user.Id">@user.FullName</a></td>
                        <td class="text-center"><a class="btn btn-primary btn-sm" asp-action="ManageUser" asp-route-id="@user.Id">Manage</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/tableSorting.js"></script>
}