﻿@model CareConnectionApp.ViewModels.Users.ViewUserClientsViewModel
@{
    ViewData["Title"] = "Clients Added by This User";
    Layout = "_AdminLayout";
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="ViewUsers">View Users</a>
    <a class="btn btn-primary" asp-controller="Users" asp-action="ManageUser" asp-route-id="@Model.UserId">Manage User</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-controller="Users" asp-action="ViewUserClients" asp-route-id="@Model.UserId">Clients Added by User</a>
}
<div class="card shadow">
    <div class="card-body">
        <h1>List of clients created by @Model.Username</h1>
        <nav class="nav form-inline nav-fill">
            <form asp-action="ViewUserClients" method="post">
                <input asp-for="UserId" value="@Model.UserId" hidden />
                <div class="row my-2">
                    <div class="col-lg">
                        <input asp-for="SearchString" class="form-control" placeholder="Search" />
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-lg text-muted">
                        Search by ID, name, or date in mm/dd/yyyy format.
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-lg">
                        <button type="submit" class="btn btn-success"><i class="fas fa-search"></i> Search</button>
                        <a asp-action="ViewUserClients" asp-route-id="@Model.UserId" class="btn btn-danger"><i class="fas fa-redo"></i> Reset</a>
                    </div>
                </div>
            </form>

        </nav>
        @if (Model.UserClientAdditions.Any())
        {
            <table class="table table-hover table-sm" id="userClientsTable">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="border-0 text-link" onclick="sortNumberInTable('userClientsTable', 0)">ID <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-link" onclick="sortStringInTable('userClientsTable', 1)">Name <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-link" onclick="sortDateInTable('userClientsTable', 2)">Date Added <i class="fas fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.UserClientAdditions)
                    {
                        <tr>
                            <td><a asp-controller="Clients" asp-action="ClientDetails" asp-route-id="@x.ClientId">@x.ClientId</a></td>
                            <td><a asp-controller="Clients" asp-action="ClientDetails" asp-route-id="@x.ClientId">@x.Client.FirstName @x.Client.LastName</a></td>
                            <td>@Html.Raw(String.Format("{0:MM/dd/yyyy}", x.CreationDate))</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1>No clients found for this user.</h1>
        }
    </div>
</div>

@section Scripts{
    <script src="~/js/tableSorting.js"></script>
}