﻿@model CareConnectionApp.ViewModels.Admin.AddAssistiveDeviceCategoryViewModel
@using CareConnectionApp.ViewModels;
@{
    ViewData["Title"] = "New Assistive Device Category";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="ViewAssistiveDeviceCategories">View Device Categories</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">Add Device Category</a>
}


<div class="container-fluid rounded shadow bg-white my-4 p-4">
    @if (ViewBag.UpdateError != null)
    {
        <div class="row">
            <br /><h2 class="text-danger">@ViewBag.UpdateError</h2>
        </div>
    }
    <div class="row">
        <div class="col-lg-4">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col my-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="optionsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu" aria-labelledby="#optionsDropDown">
                    <h6 class="dropdown-header">Assistive Devices</h6>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="ViewAssistiveDevices">Devices</a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="AddAssistiveDevice">Add Device</a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="ViewAssistiveDeviceCategories">Categories</a>
                    <a class="dropdown-item active" asp-controller="Admin" asp-action="AddAssistiveDeviceCategory">Add Category</a>
                </div>
            </div>
        </div>
    </div>
    <form method="post" asp-controller="Admin" asp-action="AddAssistiveDeviceCategory" class="loadingForm">
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="Name">Name<span class="text-danger">*</span></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-danger" asp-action="ViewAssistiveDeviceCategories">Cancel</a>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
