﻿@model CareConnectionApp.ViewModels.LawnService.AddLawnServiceViewModel
@{
    ViewData["Title"] = "Add Lawn Service";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" aria-current="page" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">Lawn Service List</a>
}

<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h1>New lawn service</h1>
            </div>
        </div>
        <form method="post" asp-action="AddLawnService">
            <div class="form-row">
                <div class="col-lg-3">
                    <label asp-for="ZoneId">Zone<span class="text-danger">*</span></label>
                    <select asp-for="ZoneId" class="custom-select">
                        <option value="" selected>Please select a zone</option>
                        @foreach (Zone z in Model.Zones)
                        {
                            <option value="@z.Id">@z.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ZoneId" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <label asp-for="TimeStamp">Date of Service<span class="text-danger">*</span></label>
                    <input class="custom-select" type="date" asp-for="TimeStamp" value="" />
                    <span asp-validation-for="TimeStamp" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col my-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a asp-controller="Clients" asp-action="ViewServiceList" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}