﻿@model CareConnectionApp.Models.WorkOrderCategory
@{
    ViewData["Title"] = "Add Work Order Category";
    Layout = "_AdminLayout";
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="ViewWorkOrderCategories">View Categories</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">Add Category</a>
}

<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <form asp-action="AddWorkOrderCategory" method="post" class="loadingForm">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-row my-2">
                <div class="col-lg-4">
                    <label asp-for="Category">Name<span class="text-danger">*</span></label>
                    <input class="form-control" asp-for="Category" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-danger" asp-controller="Admin" asp-action="ViewWorkOrderCategories">Cancel</a>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}