﻿@model Zone
@{
    ViewData["Title"] = "Add A Zone";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="ViewZones">Zones</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">New Zone</a>
}


<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <h1>New Zone</h1>


    <form method="post" asp-action="AddZone" class="loadingForm">
        <div class="form-row my-2">
            <div class="col-lg-4">
                <label asp-for="Name">Name<span class="text-danger">*</span></label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row my-2">
            <div class="col-lg-4">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-success" type="submit">Submit</button>
                <a class="btn btn-danger" asp-controller="Admin" asp-action="ViewZones">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}