﻿@model CareConnectionApp.ViewModels.Admin.AddZoneToClientViewModel
@{
    ViewData["Title"] = "Add Zone To Client";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" aria-current="page" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">View Zones</a>
}
<div class="card shadow">
    <div class="card-body">
        <h1>Add @Model.Client.FirstName @Model.Client.LastName to a Zone</h1>
        <a class="text-link" asp-action="ViewZones">View Zones</a>
        <form id="zoneForm" method="post" action="AddZoneToClient" class="loadingForm">
            <input asp-for="Client.Id" hidden />
            <input id="returnUrl" asp-for="ReturnUrl" hidden />
            <div class="form-row">
                <div class="col-lg-4 my-2">
                    <label>Zone<span class="text-danger">*</span></label>
                    <select asp-for="Zone.Id" class="custom-select" placeholder="Select a zone">
                        <option selected value="">Select a Zone</option>
                        @foreach (Zone z in Model.Zones)
                        {
                            <option value="@z.Id">@z.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Zone.Id" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <a onclick="goBackAPage()" class="btn btn-danger text-link text-light">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script>
    function goBackAPage()
    {
        history.go(-1);
    }

    $(document).ready(function () {
        var x = document.referrer;
        let returnUrl = $("#returnUrl");
        returnUrl.val(x);
    });

</script>
