﻿@model WorkOrderCategory;
@{
    ViewData["Title"] = "Edit Work Order Category";
    Layout = "_AdminLayout";
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-action="ViewWorkOrderCategories">View Categories</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-controller="Admin" asp-action="EditWorkOrderCategory">Edit Category</a>
}

<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <form asp-action="EditWorkOrderCategory" method="post" class="loadingForm">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-row my-2">
                <div class="col-lg-4">
                    <label asp-for="Category">Name<span class="text-danger">*</span></label>
                    @if (Model.IsBaseCategory)
                    {
                        <input disabled class="form-control" asp-for="Category" />
                    }
                    else
                    {
                        <input class="form-control" asp-for="Category" />
                    }
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row my-2">
                <div class="col-lg-4">
                    <label asp-for="IsActive">Status<span class="text-danger">*</span></label>
                    @if (Model.IsBaseCategory)
                    {
                        <select disabled class="custom-select" asp-for="IsActive">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    }
                    else
                    {
                        <select class="custom-select" asp-for="IsActive">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    }

                </div>
            </div>
            @if (!Model.IsBaseCategory)
            {
                <button type="submit" class="btn btn-success">Save</button>
                <button class="btn btn-danger" type="submit" formaction="/Admin/AttemptDeleteWorkOrder">Delete</button>
            }
            <a class="btn btn-danger" asp-controller="Admin" asp-action="ViewWorkOrderCategories">Cancel</a>
            <input hidden asp-for="IsBaseCategory" />
            <input hidden asp-for="Id" />
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}