﻿@model CareConnectionApp.ViewModels.Admin.AdminHomeViewModel;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-outline-primary" aria-current="page" asp-action="Index">Home</a>
}

<div class="row">
    <div class="col-sm-4 my-2">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        New Clients in the last @Html.Raw(Model.NewClients.Keys.First()) month(s)
                        <span class="float-right">@Model.NewClients.Values.First()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 my-2">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        Jobs Created in the last @Html.Raw(Model.NewClients.Keys.First()) month(s)
                        <span class="float-right">@Model.JobsOpened.Values.First()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 my-2">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        Jobs Completed in the last @Html.Raw(Model.NewClients.Keys.First()) month(s)
                        <span class="float-right">@Model.JobsCompleted.Values.First()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 my-2">
        <div class="card home-card shadow">
            <div class="card-body overflow-auto">
                <div class="row bg-primary text-white py-2 rounded">
                    <div class="col-sm-10">
                        <h6 class="card-title">Recent Work Orders</h6>
                    </div>
                    <div class="col">
                        <a class="text-link text-white" asp-controller="Clients" asp-action="SearchWorkOrders">Work Orders</a>
                    </div>
                </div>
                @if (Model.RecentWorkOrders.Count() == 0)
                {
                    <h6>There are no recent work orders</h6>
                }
                <ul class="list-group list-group-flush bg-light">
                    @foreach (var x in Model.RecentWorkOrders)
                    {
                        <li class="list-group-item py-2">
                            <div class="row">
                                <div class="col-sm-5">
                                    <a asp-controller="Clients" asp-action="ClientDetails" asp-route-id="@x.ClientRequest.ClientId">@x.ClientRequest.Client.FirstName @x.ClientRequest.Client.LastName</a>
                                </div>
                                <div class="col-sm-5">
                                    <a asp-controller="Clients" asp-action="ViewWorkOrderDetails" asp-route-id="@x.ClientRequest.WorkOrderId">@x.WorkOrderCategory.Category</a>
                                </div>
                                <div class="col-sm">
                                    <a class="text-link" data-toggle="collapse" data-target=@Html.Raw($"#workOrder{x.ClientRequest.WorkOrderId}")>
                                        Details <i class="fas fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="collapse list-group-item mt-0 mb-4 py-0 bg-light border-bottom-0" id=@Html.Raw($"workOrder{x.ClientRequest.WorkOrderId}")>
                            <div class="row">
                                <div class="col-sm-5">
                                    @x.DateOfRequest
                                </div>
                                <div class="col-sm-5">
                                    @x.JobStatus
                                </div>
                                <div class="col-sm">
                                    @x.ReqDescription
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6 my-2">
        <div class="card home-card shadow">
            <div class="card-body overflow-auto">
                <div class="row bg-primary text-white py-2 rounded">
                    <div class="col-sm-10">
                        <h6 class="card-title">Client Watch List</h6>
                    </div>
                    <div class="col">
                        <a class="text-link text-white" asp-controller="Clients" asp-action="ViewClients">View Clients</a>
                    </div>
                </div>
                @if (Model.FaveClients.Any())
                {
                    <ul class="list-group list-group-flush">
                        @foreach (var c in Model.FaveClients)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-auto">
                                        @c.Id
                                    </div>
                                    <div class="col">
                                        <a asp-controller="Clients" asp-action="ClientDetails" asp-route-id="@c.Id">
                                            @c.FirstName @c.LastName
                                        </a>
                                        <span class="float-right"><button href="" class="btn btn-link favorite-button removeFavorite" clientId="@c.Id"><i class="fas fa-times"></i></button></span>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h6>No clients favorited. <a class="text-muted" asp-controller="Clients" asp-action="ViewClients">View clients</a> to add favorites</h6>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 my-2">
        <div class="card home-card shadow">
            <div class="card-body overflow-auto home-card">
                <div class="row bg-primary text-white py-2 rounded">
                    <div class="col-sm-10">
                        <h6 class="card-title">Recent Assistive Device Work Orders</h6>
                    </div>
                    <div class="col">
                        <a class="text-link text-white" asp-controller="Clients" asp-action="SearchWorkOrders">Work Orders</a>
                    </div>
                </div>
                @if (Model.RecentAssistiveDeviceWorkOrders.Count() == 0)
                {
                    <h6>There are no recent assistive device requests</h6>
                }
                <ul class="list-group list-group-flush bg-light">
                    @foreach (var x in Model.RecentAssistiveDeviceWorkOrders)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-5">
                                    <a asp-controller="Clients" asp-action="ClientDetails" asp-route-id="@x.Key.ClientRequest.ClientId">@x.Key.ClientRequest.Client.FirstName @x.Key.ClientRequest.Client.LastName</a>
                                </div>
                                <div class="col-sm-5">
                                    <a asp-controller="Clients" asp-action="ViewWorkOrderDetails" asp-route-id="@x.Key.Id">@x.Key.WorkOrderCategory.Category</a>
                                </div>
                                <div class="col-sm">
                                    <a class="text-link" data-toggle="collapse" data-target=@Html.Raw($"#assistive{x.Key.Id}")>
                                        Details <i class="fas fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="collapse list-group-item mt-0 mb-4 py-0 bg-light border-bottom-0" id=@Html.Raw($"assistive{x.Key.Id}")>
                            <div class="row">
                                <div class="col-sm">
                                    @x.Key.DateOfRequest
                                </div>
                                <div class="col-sm">
                                    @x.Key.JobStatus
                                </div>
                                <div class="col-sm">
                                    @if (x.Key.AssistiveDeviceId != null)
                                    {
                                        @x.Value.Category.Name
                                    }
                                    else
                                    {
                                        @Html.Raw("No seed data")
                                    }
                                </div>
                                <div class="col-sm">
                                    @if (x.Key.AssistiveDeviceId != null)
                                    {
                                        @x.Value.Name
                                    }
                                    else
                                    {
                                        @Html.Raw("No seed data")
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    @x.Key.ReqDescription
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card home-card shadow">
            <div class="card-body overflow-auto home-card">
                <div class="row bg-primary text-white py-2 rounded">
                    <div class="col-sm-10">
                        <h6 class="card-title">Pending Lawn Service Approvals</h6>
                    </div>
                    <div class="col">
                        <a class="text-link text-white" asp-controller="Admin" asp-action="ViewPendingApprovalList">Pending List</a>
                    </div>
                </div>
                @if (Model.RecentPendingApprovals.Count() == 0)
                {
                    <h6>There are no recent pending lawn requests</h6>
                }
                <ul class="list-group list-group-flush bg-light">
                    @foreach (var x in Model.RecentPendingApprovals)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-5">
                                    <a asp-controller="Clients" asp-action="ClientDetails" asp-route-id="@x.ClientId">@x.Client.FirstName @x.Client.LastName</a>
                                </div>
                                <div class="col-sm-5">
                                    <a asp-controller="Clients" asp-action="ViewWorkOrderDetails" asp-route-id="@x.WorkOrderId">View Work Order</a>
                                </div>
                                <div class="col-sm">
                                    <a class="text-link" data-toggle="collapse" data-target=@Html.Raw($"#lawn{x.Id}")>
                                        Details <i class="fas fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="collapse list-group-item mt-0 mb-4 py-0 bg-light border-bottom-0" id=@Html.Raw($"lawn{x.Id}")>
                            <div class="row">
                                <div class="col-sm-5">
                                    @x.TimeStamp
                                </div>
                                <div class="col-sm-5">
                                    @if (x.Client.ZoneJoining != null)
                                    {
                                        @x.Client.ZoneJoining.Zone.Name
                                    }
                                    else
                                    {
                                        @Html.Raw("Not assigned in a zone")
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="~/js/admin_scripts/favoriteClients.js"></script>
<script>
    $(".favorite-button").click(function () {
        removeFavorite($(this));
        removeRowFromTable($(this));
    });

    function toggleCollapse(element) {
        console.log('dislay');
        $(element).collapse('toggle');
    }

    $(function () {
        $.get(window.location.origin + '/healthcheck', function (data) {
            $('#healthStatus').append((data == 'Healthy') ? 'Healthy <i class="fas fa-check healthy"></i>' : 'Unhealthy <i class="fas fa-times unhealthy"></i>');
        });
    });
</script>