﻿@{
    ViewData["Title"] = "System Configuration";
    Layout = "_AdminLayout";
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-action="Index">Home</a><a class="btn btn-outline-primary" aria-current="page" asp-action="SystemConfiguration">System Configuration</a>
}


<div class="card">
    <div class="card-body">
        <h1>System Configuration</h1>
        <ul>
            <li><a asp-action="ViewWorkOrderCategories">View WorkOrder Categories</a></li>
            <li><a asp-controller="Admin" asp-action="ViewAssistiveDevices">View Assistive Devices</a></li>
        </ul>
    </div>
</div>