﻿@using  CareConnectionApp.ViewModels.Admin
@model AssistiveDeviceCategory
@{
    ViewData["Title"] = "Update Assistive Device Categories";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" aria-current="page" asp-action="Index">Home</a>
    <a class="btn btn-primary" aria-current="page" asp-action="ViewAssistiveDeviceCategories">View Device Categories</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">Update Device Category</a>
}

<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <h1>Update Device Category #@Model.Id</h1>

    <form method="post" asp-controller="Admin" asp-action="UpdateAssistiveDeviceCategory" class="loadingForm">
        <div class="form-row">
            <input asp-for="@Model.Id" hidden /> 
            <div class="col-lg-4 my-2">
                <label asp-for="Name">Name<span class="text-danger">*</span></label>
                <input asp-for="Name" class="form-control"  />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="IsActive">Status<span class="text-danger">*</span></label>
                <select class="custom-select" asp-for="IsActive">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
        <a class="btn btn-danger" asp-action="ViewAssistiveDeviceCategories">Cancel</a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
