﻿@model  CareConnectionApp.ViewModels.Admin.UpdateAssistiveDeviceViewModel
@{
    ViewData["Title"] = "Update Assistive Device";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" aria-current="page" asp-action="Index">Home</a>
    <a class="btn btn-primary" aria-current="page" asp-action="ViewAssistiveDevices">View Devices</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">Update Device</a>
}

<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <div class="row">
        <div class="col">
            <h1>Update Device #@Model.AssistiveDevice.Id</h1>
        </div>
    </div>
    <form method="post" asp-controller="OfficeStaff" asp-action="AddAssistiveDevice" class="loadingForm">
        <div class="form-row">
            <input asp-for="AssistiveDevice.Id" hidden />
            <div class="col-lg-4 my-2">
                <label asp-for="AssistiveDevice.Name">Name<span class="text-danger">*</span></label>
                <input asp-for="AssistiveDevice.Name" class="form-control" />
                <span asp-validation-for="AssistiveDevice.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="AssistiveDevice.Description">Description</label>
                <input asp-for="AssistiveDevice.Description" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="AssistiveDevice.CategoryId">Category</label>
                <Select asp-for="AssistiveDevice.CategoryId" class="custom-select">
                    @foreach (AssistiveDeviceCategory category in Model.AssistiveDeviceCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </Select>
                <span asp-validation-for="AssistiveDevice.CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="AssistiveDevice.IsActive">Status</label>
                <select class="custom-select" asp-for="AssistiveDevice.IsActive">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
                <span asp-validation-for="AssistiveDevice.IsActive" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
        <a class="btn btn-danger" asp-action="ViewAssistiveDevices">Cancel</a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}