﻿@model Zone
@{
    ViewData["Title"] = "Update Zone";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="ViewZones">Zones</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">Update Zone</a>
}

<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <h1>Update Zone</h1>
    <form method="post" asp-action="UpdateZone" class="loadingForm">
        <input asp-for="Id" hidden />
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="Name">Name<span class="text-danger">*</span></label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
            </div>
        </div>
        <button class="btn btn-success" type="submit">Update Zone</button>
        <button class="btn btn-danger" asp-action="ViewZones">Cancel</button>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}