﻿@model List<WorkOrderCategory>;
@{
    ViewData["Title"] = "View Work Order Categories";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-controller="Admin" asp-action="ViewWorkOrderCategories">View Categories</a>
}

<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <a asp-action="AddWorkOrderCategory" class="btn btn-primary my-2">Add Category</a>
        <table class="table table-hover table-sm" id="categoriesTable">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="border-0 text-link" onclick="sortNumberInTable('categoriesTable', 0)">ID <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('categoriesTable', 1)">Name <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('categoriesTable', 2)">Status <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Category</td>
                        <td>
                            @(category.IsActive ? @Html.Raw("Active") : @Html.Raw("Inactive"))
                        </td>
                        <td class="text-center"><a class="btn btn-primary btn-sm" asp-action="EditWorkOrderCategory" asp-route-id="@category.Id">Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/tableSorting.js"></script>
}
