﻿@model CareConnectionApp.ViewModels.Admin.ViewAssistiveDevicesViewModel
@using CareConnectionApp.Utility_Classes

@{
    ViewData["Title"] = "View Assistive Devices";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" aria-current="page" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">View Devices</a>
}

<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col my-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="optionsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                    </button>
                    <div class="dropdown-menu" aria-labelledby="#optionsDropDown">
                        <h6 class="dropdown-header">Assistive Devices</h6>
                        <a class="dropdown-item active" asp-controller="Admin" asp-action="ViewAssistiveDevices">Devices</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="AddAssistiveDevice">Add Device</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="ViewAssistiveDeviceCategories">Categories</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="AddAssistiveDeviceCategory">Add Category</a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover table-sm" id="assitiveDevicesTable">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="border-0 text-link" onclick="sortNumberInTable('assitiveDevicesTable', 0)">ID <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('assitiveDevicesTable', 1)">Name <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('assitiveDevicesTable', 2)">Description <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('assitiveDevicesTable', 3)">Category <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('assitiveDevicesTable', 4)">Status <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var assistiveDevice in Model.AssistiveDevices)
                {
                    <tr>
                        <td>@assistiveDevice.Id</td>
                        <td>@assistiveDevice.Name</td>
                        <td>@StringHelperClass.DescriptionEditor(assistiveDevice.Description)</td>
                        <td>@assistiveDevice.Category.Name</td>
                        <td>@(assistiveDevice.IsActive ? Html.Raw("Active") : Html.Raw("Inactive"))</td>
                        <td class="text-center"><a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="UpdateAssistiveDevice" asp-route-id="@assistiveDevice.Id">Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/tableSorting.js"></script>
}