﻿@model IEnumerable<Zone>
@using CareConnectionApp.Utility_Classes

@{
    ViewData["Title"] = "View Zones";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" aria-current="page" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">View Zones</a>
}

<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <a class="btn btn-primary my-2" asp-action="AddZone"><i class="fas fa-plus"></i> New Zone</a>
        <table class="table table-hover table-sm" id="zonesTable">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="border-0 text-link" onclick="sortStringInTable('zonesTable', 0)">Name <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('zonesTable', 1)">Description <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@StringHelperClass.DescriptionEditor(category.Description)</td>
                        <td class="text-center">
                            <a class="btn btn-primary" asp-route-id="@category.Id" asp-action="UpdateZone">Update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/tableSorting.js"></script>
}