﻿@model CareConnectionApp.ViewModels.LawnService.ViewPendingApprovalViewModel
@{
    ViewData["Title"] = "Pending Approvals";
    Layout = "_AdminLayout";
}

@section Breadcrumb {
    <a class="btn btn-primary" aria-current="page" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="">Pending Approvals</a>
}


<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <h1>Pending Approval List</h1>
            </div>
            <div class="col my-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="optionsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lists
                    </button>
                    <div class="dropdown-menu" aria-labelledby="#optionsDropDown">
                        <h6 class="dropdown-header">Lawn Service</h6>
                        <a class="dropdown-item active" asp-controller="Admin" asp-action="ViewPendingApprovalList">Pending List</a>
                        <a class="dropdown-item" asp-controller="Clients" asp-action="ViewWaitList">Wait List</a>
                        <a class="dropdown-item" asp-controller="Clients" asp-action="ViewServiceList">Service List</a>
                    </div>
                </div>
            </div>
            <div class="col mr-5 mt-3 text-right">
                <a class="text-link" id="addToWaitList">Approve Selected</a>
            </div>
        </div>

        <table class="table table-hover table-sm" id="pendingTable">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="border-0 text-link" onclick="sortNumberInTable('pendingTable', 0)">ID <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('pendingTable', 1)">Name <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortDateInTable('pendingTable', 2)">Date Added <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('pendingTable', 3)">Zone <i class="fas fa-sort"></i></th>
                    <th class="border-0">Actions</th>
                    <th class="border-0 text-center">Approve</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PendingApproval p in Model.PendingApprovals)
                {
                    <tr>
                        <td>@p.Client.Id</td>
                        <td><a asp-controller="Clients" asp-action="ClientDetails" asp-route-id="@p.Client.Id">@p.Client.FirstName @p.Client.LastName</a></td>
                        <td>@p.TimeStamp.ToString("MM/dd/yyyy")</td>
                        <td>
                            @if (p.Client.ZoneJoining != null)
                            {
                                @p.Client.ZoneJoining.Zone.Name
                            }
                            else
                            {
                                <a class="btn btn-primary btn-sm" asp-action="AddZoneToClient" asp-route-id="@p.ClientId">Select a zone</a>
                            }
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" onclick="checkZoneStatus(@p.ClientId, @p.Id)">Approve</button>
                            <button class="btn btn-danger btn-sm text-light" onclick="confirmDelete(@p.Id)">Disapprove</button>
                            <a class="btn btn-primary btn-sm" asp-action="AddZoneToClient" asp-route-id="@p.ClientId">Edit Zone</a>
                        </td>

                        <td class="text-center">
                            <div class="custom-control custom-checkbox custom-control-inline custom-control-lg">
                                <input id="@p.Id" class="custom-control-input" type="checkbox" onclick="addToWaitList(this, @p.ClientId, @p.Id)" />
                                <label for="@p.Id" class="custom-control-label"></label>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/lawn_service.js"></script>
    <script src="~/js/tableSorting.js"></script>
    <script>
        function confirmDelete(id) {
            var r = confirm("Are you sure you want to remove this client? ");
            if (r) {
                window.location.replace("/Admin/RemoveFromPendingApproval?id=" + id);
            }

        }
    </script>
}