﻿@{
    ViewData["Title"] = "All Clients Report";
    Layout = "_AdminLayout";
}

@section Breadcrumb{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="Reporting">Reporting</a>
    <a class="btn btn-primary" asp-action="ClientReports">Client Reports</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="AllClientsReport">All Clients Report</a>
}
<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <a class="btn btn-success text-white text-link" onclick="generateFullReport()">Generate Report</a>
        <a class="btn btn-danger text-link" asp-action="">Reset</a>
        <button class="btn btn-primary disabled" id="exportLink">Export</button>
        <div class="row text-center d-none" id="loaderRow">
            <div class="col" id="loaderDiv"></div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 id="statsHeader"></h5>
                <table class="table table-sm table-hover my-3" id="statsTable"></table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 id="workOrdersHeader"></h5>
                <table class="table table-sm table-hover my-3" id="workOrdersTable"></table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 id="individualClientName"></h5>
                <a id="individualClientToggle" class="text-link" onclick="hideIndividualClient()"></a>
                <table class="table table-sm table-hover my-3" id="individualTable"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/admin_scripts/fullClientReport.js"></script>
}
