﻿@{
    ViewData["Title"] = "Client Reports";
    Layout = "_AdminLayout";
}

@section Breadcrumb{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="Reporting">Reporting</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="ClientReports">Client Reports</a>
}
<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <form asp-action="ClientReports">
            <div class="form-row">
                <div class="col-lg-4 my-2">
                    <label for="reportType">Select a report<span class="text-danger">*</span></label>
                    <select class="custom-select" name="reportType" id="reportType" required>
                        <option value="">Please select a report type</option>
                        <option value="Individual">Individual</option>
                        <option value="AllClients">All Clients</option>
                        <option value="ClientsByCategory">Clients by Category</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </form>
    </div>
</div>
