﻿@model List<string>
@{
    ViewData["Title"] = "Clients by Category";
    Layout = "_AdminLayout";
}

@section Breadcrumb{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="Reporting">Reporting</a>
    <a class="btn btn-primary" asp-action="ClientReports">Client Reports</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="ClientsByCategoryReport">Clients by Category</a>
}
<div class="card shadow">
    <div class="card-body">
        <h1>Clients by Work Order Category</h1>
        <form action="GenerateClientsByCategoryReport" id="clientsReport">
            <div class="form-row">
                <div class="col-lg-4 my-2">
                    <label for="category">Select a category<span class="text-danger">*</span></label>
                    <select class="custom-select" name="category" id="category" asp-items="@(new SelectList(Model))">
                        <option value="">Please select a category</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
            <a class="btn btn-danger text-link" asp-action="">Reset</a>
            <button class="btn btn-primary disabled" id="exportLink">Export</button>
        </form>
        <div class="row text-center d-none" id="loaderRow">
            <div class="col" id="loaderDiv"></div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h5 id="categoryHeader"></h5>
                <table class="table table-sm table-hover my-3" id="reportTable"></table>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/admin_scripts/clientsbycategory.js"></script>
}
