﻿@model CareConnectionApp.ViewModels.Reporting.DateRangeViewModel
@{
    ViewData["Title"] = "Generate Report";
    Layout = "_AdminLayout";
}

@section Breadcrumb{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="Reporting">Reporting</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="DateRangeReports">Date Range Report</a>
}
<div class="navbar bg-white border-bottom">
    <form class="form-inline" id="dateRangeReport" action="GenerateDateRangeReport" method="post">
        <h1 class="mr-2">Date Range Report</h1>
        <label for="lower">Start date</label>
        <input class="form-control mx-1" type="date" name="lower" id="lower" value="" required />
        <label for="upper">End date</label>
        <input class="form-control mx-1" type="date" name="upper" id="upper" value="" required />
        <input class="btn btn-success mx-1" type="submit" />
        <a class="btn btn-danger text-white text-link mx-1" onclick="resetGraph()">Reset</a>
        <button class="btn btn-primary disabled mx-1" id="exportLink">Export</button>
    </form>
</div>

<div class="row text-center d-none" id="loaderRow">
    <div class="col" id="loaderDiv"></div>
</div>

<div class="container-fluid mb-4 mt-2 bg-white rounded" id="pieChart"></div>

<div class="card-deck" id="summaryDiv"></div>

@section Scripts {
    <script src="~/js/admin_scripts/dateRange.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section ScriptLibraryImport {
    <environment include="Development">
        <script src="~/lib/plotly/plotly.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"
                asp-fallback-src="~/lib/plotly/plotly.min.js"
                asp-fallback-test="window.Plotly">
        </script>
    </environment>
}