﻿@{
    ViewData["Title"] = "Individual Client Report";
    Layout = "_AdminLayout";
}

@section Breadcrumb{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="Reporting">Reporting</a>
    <a class="btn btn-primary" asp-action="ClientReports">Client Reports</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="IndividualClientReport">Individual Client Report</a>
}
<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <form action="GenerateIndividualClientReport" id="individualReport">
            <div class="form-row">
                <div class="col-lg-4 my-2">
                    <label for="clientId">Client ID<span class="text-danger">*</span></label>
                    <input name="clientId" id="clientId" class="form-control" type="text" />
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
            <a class="btn btn-danger text-link" asp-action="">Reset</a>
            <button class="btn btn-primary disabled" id="exportLink">Export</button>
        </form>
        <div class="row text-center d-none" id="loaderRow">
            <div class="col" id="loaderDiv"></div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 id="clientHeader"></h5>
                <table class="table table-sm table-hover my-3" id="reportTable"></table>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/admin_scripts/individualClient.js"></script>
}
