﻿@model CareConnectionApp.ViewModels.Reporting.JobTypeSummaryReportViewModel
@{
    ViewData["Title"] = "Work Order Category Report";
    Layout = "_AdminLayout";
}
@section Breadcrumb{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="Reporting">Reporting</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="JobTypeSummaryReport">Category Report</a>
}
<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <form action="GenerateJobSummaryReport" id="jobReport">
            <div class="form-row">
                <div class="col-lg-4 my-2">
                    <label asp-for="workOrderCategory">Category<span class="text-danger">*</span></label>
                    <select asp-for="workOrderCategory" class="custom-select" asp-items="@(new SelectList(Model.Categories.Where(m => !m.Equals("Lawn Service"))))" required>
                        <option value="">Please select</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 my-2">
                    <label asp-for="LowerBound">Start Date</label>
                    <input class="form-control" asp-for="LowerBound" value="" required />
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 my-2">
                    <label asp-for="UpperBound">End Date</label>
                    <input class="form-control" asp-for="UpperBound" value="" required />
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
            <a class="btn btn-danger text-link" asp-action="">Reset</a>
            <button class="btn btn-primary disabled" id="exportLink">Export</button>
        </form>

        <div class="row text-center d-none" id="loaderRow">
            <div class="col" id="loaderDiv"></div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h5 id="categoryHeader"></h5>
                <table class="table table-sm table-hover my-3" id="reportTable"></table>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/admin_scripts/categorySummaryReport.js"></script>
}
