﻿@{
    ViewData["Title"] = "Generate Lawn Service Report";
    Layout = "_AdminLayout";
}

@section Breadcrumb{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="Reporting">Reporting</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="DateRangeReports">Lawn Service Report</a>
}


<div class="card">
    <div class="card-body">
        <form class="form-inline" id="lawnServiceReport" action="GenerateLawnServiceReport" method="post">
            <h1 class="mr-2">Lawn Service Report</h1>
            <label for="lower">Start date</label>
            <input class="form-control mx-1" type="date" name="lower" id="lower" value="" required />
            <label for="upper">End date</label>
            <input class="form-control mx-1" type="date" name="upper" id="upper" value="" required />
            <button class="btn btn-success mx-1" type="submit">Submit</button>
            <a class="btn btn-danger text-white text-link mx-1" asp-action="">Reset</a>
            <button class="btn btn-primary disabled mx-1" id="exportLink">Export</button>
        </form>
        <div class="row text-center d-none" id="loaderRow">
            <div class="col" id="loaderDiv"></div>
        </div>
        <table class="table table-sm table-hover my-3" id="reportTable"></table>
        <div id="resultsDiv"></div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin_scripts/lawnServiceReport.js"></script>
}