﻿@{
    ViewData["Title"] = "Reporting Home";
    Layout = "_AdminLayout";
}
@section Breadcrumb {
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="Reporting">Reporting</a>
}


<div class="card shadow">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <div class="card-deck">
            <div class="card list-group-item list-group-item-action p-0">
                <a asp-action="ClientReports" class="w-100 h-100 text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title">Clients</h5>
                        <p class="card-text">Generate client-based reports. Choose between individual client, all client, and clients by category reports.</p>
                    </div>
                </a>
            </div>
            <div class="card list-group-item list-group-item-action p-0">
                <a asp-action="YearOverYearReport" class="w-100 h-100 text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title">Year Over Year</h5>
                        <p class="card-text">Generate a report comparing years from a given start and end year.</p>
                    </div>
                </a>
            </div>
            <div class="card list-group-item list-group-item-action p-0">
                <a asp-action="JobTypeSummaryReport" class="w-100 h-100 text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title">Work Order Category</h5>
                        <p class="card-text">Generate a report for a specific work order category.</p>
                    </div>
                </a>
            </div>
            <div class="card list-group-item list-group-item-action p-0">
                <a asp-action="DateRangeReports" class="w-100 h-100 text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title">Date Range</h5>
                        <p class="card-text">Generate a work order report on any given date range.</p>
                    </div>
                </a>
            </div>
            <div class="card list-group-item list-group-item-action p-0">
                <a asp-action="LawnServiceReports" class="w-100 h-100 text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title">Lawn Service</h5>
                        <p class="card-text">Generate a lawn service report on any given date range.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
