﻿@{
    ViewData["Title"] = "Year Over Year Report";
    Layout = "_AdminLayout";
}

@section Breadcrumb{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
    <a class="btn btn-primary" asp-action="Reporting">Reporting</a>
    <a class="btn btn-outline-primary" aria-current="page" asp-action="YearOverYearReport">Year Over Year Reporting</a>
}
<div class="navbar bg-white border-bottom">
    <form class="form-inline" id="yoyForm" action="GenerateYearOverYearReport" method="post">
        <h1 class="mr-2">Year Over Year Report</h1>
        <input class="form-control mx-1" type="number" name="startYear" id="startYear" required placeholder="Start Year" />
        <input class="form-control mx-1" type="number" name="endYear" id="endYear" required placeholder="End Year" />
        <input class="btn btn-success mx-1" type="submit" />
        <button class="btn btn-danger mx-1" id="resetBtn">Reset</button>
        <button class="btn btn-primary disabled mx-1" id="exportLink">Export</button>
    </form>
</div>
<div class="row text-center d-none" id="loaderRow">
    <div class="col" id="loaderDiv"></div>
</div>
<div class="container-fluid bg-white" id="reportContainer">
    <div class="container" id="lineDiv"></div>
    <div class="row">
        <div class="col" id="pieDiv"></div>
        <div class="col" id="smallPieDiv"></div>
    </div>
    <div class="container-fluid" id="tableDiv"></div>
    <div id="testBtn"></div>
</div>

<script src="~/js/admin_scripts/yoy.js"></script>
<script>
    $(function () {
        $('#resetBtn').click(function (e) {
            resetGraph();
        });
        $('#yoyForm').submit(function (e) {
            e.preventDefault();
            var thisForm = $(this);
            if ($('input[name=startYear]').val() > $('input[name=endYear]').val()) {
                alert('Please enter a start date before the end date.');
                return;
            }
            generateReport(e, thisForm);

        });
    });
</script>
@section ScriptLibraryImport {
    <environment include="Development">
        <script src="~/lib/plotly/plotly.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"
                asp-fallback-src="~/lib/plotly/plotly.min.js"
                asp-fallback-test="window.Plotly">
        </script>
    </environment>
}