﻿@{
    ViewBag.Title = "BlankWorkOrder";
}
@section Styles {
    <link rel="stylesheet" href="~/css/PrintStyles.css" media="print" />
}

<div class="container bg-white my-4 p-4">
    <h1>Work Order #__ Details</h1>
    <button class="btn btn-danger hideOnPrint" onclick="window.print()"><i class="fas fa-print"></i> Print</button>

    <div class="row">
        <div class="col-lg-2 col-lg-2 my-1">
            <strong>Client Information</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label>First Name</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="printClass" disabled />
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <label></label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="printClass" disabled />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label>Address</label>
        </div>
        <div class="col-lg-6 col-lg-6 ">
            <input class="printClass" disabled />
        </div>
        <div class="col-lg-2 col-lg-2">
            <input class="printClass" disabled  />
        </div>
        <div class="col-lg-2 col-lg-2">
            <input class="printClass" disabled />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <label>Home Phone</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label>Cell Phone</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <label>Secondary Contact:</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label>Secondary Contact Phone Number:</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <label>Pets</label>
        </div>
        <div class="col-lg col-lg">
            @*<div class="form-check">*@
            <input class="printClass" disabled />
            @*<label asp-for="Client.HasPets">Pets</label>*@
            @*</div>*@
        </div>
        <!--Greg, in case you want to change the layout of the EHEAP; it starts here.-->
        <div class="col-lg-2 col-lg-2">
            <label>EHEAP Form</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
                <input class="printClass" disabled />
        </div>
    </div>


    <!--Request Info Section-->

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <strong>Request Information</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <label>Type</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <label>Description</label>
        </div>
        <div class="col-lg-10 col-lg-10 my-1">
            <textarea class="printClass"></textarea>
        </div>
    </div>


    <!--Date Info Section-->

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <strong>Date</strong>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label>Requested</label>
        </div>
        <div class="col-lg-4 col-lg-4">
                <input class="printClass" disabled />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label >Accepted</label>
        </div>
        <div class="col-lg-4 col-lg-4">
                <input class="printClass" disabled />
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label>Started</label>
        </div>
        <div class="col-lg-4 col-lg-4">
                <input class="printClass" disabled />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label>Completed</label>
        </div>
        <div class="col-lg-4 col-lg-4">
                <input class="printClass" disabled />
        </div>
    </div>


    <!--Volunteer Info Section-->

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2 my-1">
            <strong>Volunteer Information</strong>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label>Volunteers</label>
        </div>
        <div class="col-lg-10 col-lg-10">
            <input class="printClass" disabled />
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label>Hours</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled  />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label>Mileage</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label>Expenses</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label>Donation</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled />
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label>Comments</label>
        </div>
        <div class="col-lg-10 col-lg-10">
            <textarea class="printClass printComments my-3" disabled></textarea>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label>Status</label>
        </div>
        <div class="col-lg-10 col-lg-10">
            <input  class="printClass" disabled />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-2 my-3">
            <label>Please Sign Here: </label>
        </div>
        <div class="col-lg-10 col-lg-10 my-3 printClass">

        </div>
    </div>
</div>
