﻿@model CareConnectionApp.ViewModels.Clients.ClientDetailsViewModel
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@using System.Text.RegularExpressions
@using  CareConnectionApp.Enums
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "View Client Details";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">View Client Details</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Client Details</li>
        }
    }
}

@{
    var updateError = ViewBag.updateError;
}
@if (updateError != null && updateError)
{
    <div class="alert alert-danger alert-dismissible container-fluid rounded shadow my-2" role="alert">
        Error - Unable to update client
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container-fluid rounded shadow bg-white mb-4 p-4">
    <div class="row">
        <div class="col-lg-4">
            <h1>View Details for @Model.Client.FirstName</h1>
        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="optionsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu" aria-labelledby="optionsDropDown">
                    <h6 class="dropdown-header">@Model.Client.FirstName @Model.Client.LastName</h6>
                    <a class="dropdown-item active" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a>
                    <a class="dropdown-item" asp-action="CreateWorkOrder" asp-route-id="@Model.Client.Id">Create Work Request</a>
                    <a class="dropdown-item" asp-action="GetClientWorkOrders" asp-route-id="@Model.Client.Id">View Work Requests</a>
                    @if (Model.Client.EheapId != null)
                    {
                        <a class="dropdown-item" asp-action="GetEheap" asp-route-id="@Model.Client.Id">View EHEAP</a>
                    }
                    else
                    {
                        <a class="dropdown-item" asp-action="CreateEheap" asp-route-id="@Model.Client.Id">Create EHEAP</a>
                    }
                </div>
            </div>
        </div>
    </div>


    <!--Basic Section-->
    <h5>Basic</h5>
    <div class="row my-2">
        <div class="col-lg-6">
            <span class="text-muted">Full Name</span>
            <p>@Model.Client.FirstName @Model.Client.LastName</p>
        </div>
        <div class="col-lg-3">
            <span class="text-muted">ID</span>
            <p>@Model.Client.Id</p>
        </div>
        <div class="col-lg-2">
            <span class="text-muted">Date of Birth</span>
            <p>@Html.Raw(String.Format("{0:MM/dd/yyyy}", @Model.Client.BirthDay))</p>
        </div>
        <div class="col-lg-1">
            <span class="text-muted">Age</span>
            <p id="age"></p>
        </div>
        @if (admin)
        {
            <div class="col-lg-1">
                <span class="text-muted">Client Status</span>
                <p>@Model.Client.ClientStatus</p>
            </div>
        }
    </div>

    <!--Contact Section-->
    <h5>Contact</h5>
    <div class="row my-2">
        <div class="col-lg-6">
            <span class="text-muted">Street Address</span>
            <p>@Model.Client.StreetAddress</p>
        </div>
        <div class="col-lg-3">
            <span class="text-muted">City</span>
            <p>@Model.Client.City</p>
        </div>
        <div class="col-lg-3">
            <span class="text-muted">Zip Code</span>
            <p>@Model.Client.Zip</p>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-lg-6">
            <span class="text-muted">Main Phone</span>
            <p>@Html.Raw(@Regex.Replace(Model.Client.HomePhone, @"(\d{3})(\d{3})(\d{4})", "$1-$2-$3"))</p>
        </div>
        <div class="col-lg-3">
            <span class="text-muted">Secondary Phone</span>
            @if (Model.Client.CellPhone != null)
            {<p>@Html.Raw(@Regex.Replace(Model.Client.CellPhone, @"(\d{3})(\d{3})(\d{4})", "$1-$2-$3"))</p>
        }
        </div>
        <div class="col-lg-2">
            <span class="text-muted">Lawn Zone</span>
            @if (Model.Client.ZoneJoining != null)
            {
                <p>@Model.Client.ZoneJoining.Zone.Name</p>
            }
            else
            {
                <p>Not assigned to a zone</p>
            }
        </div>
        <div class="col-lg-1">
            <span class="text-muted">Lawn Status</span>
            <p>@ViewBag.lawnServiceListClientIsOn</p>
        </div>
    </div>

    <!--Emergency Contact Section-->
    <h5>Emergency Contact</h5>
    <div class="row my-2">
        <div class="col-lg-6">
            <span class="text-muted">Name</span>
            <p>@Model.Client.EmergencyContactName</p>
        </div>
        <div class="col-lg-3">
            <span class="text-muted">Phone Number</span>
            @if (Model.Client.EmergencyContactPhoneNumber != null)
            {<p>@Html.Raw(@Regex.Replace(Model.Client.EmergencyContactPhoneNumber, @"(\d{3})(\d{3})(\d{4})", "$1-$2-$3"))</p>}
        </div>
        <div class="col-lg-3">
            <span class="text-muted">Relationship</span>
            <p>@Model.Client.EmergencyContactRelationship</p>
        </div>
    </div>

    <!--Other Section-->
    <h5>Other</h5>
    <div class="row my-2">
        <div class="col-lg-6">
            <span class="text-muted">Case Manager</span>
            <p>@Model.Client.CaseManager</p>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-lg-6">
            <span class="text-muted">Pet Details</span>
            @if (Model.Client.HasPets != "false")
            {
                <p>@Model.Client.HasPets</p>
            }
            else
            {
                <p>N/A</p>
            }
        </div>
        <div class="col-lg-3">
            <span class="text-muted">Owner of Home</span>
            @if (Model.Client.OwnerOfHome)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </div>
        <div class="col-lg-3">
            <span class="text-muted">Veteran</span>
            @if (Model.Client.Veteran)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </div>
    </div>

    <!--Button Section-->
    <div class="row">
        <div class="col">
            <button class="btn btn-success" data-toggle="modal" data-target="#updateClientModal">Update</button>
            <a class="btn btn-danger" asp-action="ViewClients">Cancel</a>
        </div>
    </div>

    <div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content p-5">
                <form enctype="application/x-www-form-urlencoded" asp-action="ClientDetails" method="post" class="loadingForm">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 class="modal-title">Update Information</h1>
                    <h5>Basic</h5>
                    <input asp-for="Client.Id" hidden />
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Client.FirstName">First Name<span class="text-danger">*</span></label>
                            <input asp-for="Client.FirstName" class="form-control" />
                            <span asp-validation-for="Client.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Client.LastName">Last Name<span class="text-danger">*</span></label>
                            <input asp-for="Client.LastName" class="form-control" />
                            <span asp-validation-for="Client.LastName" class="text-danger"></span>
                        </div>
                    </div>

                    @if (admin)
                    {
                        <div class="form-row">
                            <div class="form-group col">
                                <div class="dropdown">
                                    <label asp-for="Client.ClientStatus">Client Status</label>
                                    <select asp-for="Client.ClientStatus" class="form-control" asp-items="@Html.GetEnumSelectList<ClientStatus>()"></select>
                                </div>
                            </div>
                        </div>
                    }
                    <h5>Contact</h5>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Client.BirthDay">Date of Birth<span class="text-danger">*</span></label>
                            <input asp-for="Client.BirthDay" class="form-control" />
                            <span asp-validation-for="Client.BirthDay" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Client.StreetAddress">Street Address<span class="text-danger">*</span></label>
                            <input asp-for="Client.StreetAddress" class="form-control" />
                            <span asp-validation-for="Client.StreetAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Client.City">City<span class="text-danger">*</span></label>
                            <input asp-for="Client.City" class="form-control" />
                            <span asp-validation-for="Client.City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Client.Zip">Zip Code<span class="text-danger">*</span></label>
                            <input asp-for="Client.Zip" class="form-control zipcode" />
                            <span asp-validation-for="Client.Zip" class="text-danger"></span>
                        </div>
                    </div>
                    @if (admin)
                    {
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label asp-for="ZoneId">Zone</label>
                                <select asp-for="ZoneId" class="custom-select">
                                    <option disabled selected value="">Select a zone</option>
                                    @foreach (Zone z in Model.Zones)
                                    {
                                        if (Model.Client.ZoneJoining != null)
                                        {
                                            if (z.Id == Model.Client.ZoneJoining.ZoneId)
                                            {
                                                <option value="@z.Id" selected>@z.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@z.Id">@z.Name</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@z.Id">@z.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Client.HomePhone">Main Phone<span class="text-danger">*</span></label>
                            <input asp-for="Client.HomePhone" class="form-control" data-mask="999-999-9999" placeholder="###-###-####" />
                            <span asp-validation-for="Client.HomePhone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label asp-for="Client.CellPhone">Secondary Phone</label>
                            <input asp-for="Client.CellPhone" class="form-control" data-mask="999-999-9999" placeholder="###-###-####" />
                            <span asp-validation-for="Client.CellPhone" class="text-danger"></span>
                        </div>
                    </div>

                    <h5>Emergency Contact</h5>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Client.EmergencyContactName">Emergency Name</label>
                            <input asp-for="Client.EmergencyContactName" class="form-control" />
                            <span asp-validation-for="Client.EmergencyContactName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Client.EmergencyContactPhoneNumber">Emergency Number</label>
                            <input asp-for="Client.EmergencyContactPhoneNumber" class="form-control" data-mask="999-999-9999" placeholder="###-###-####" />
                            <span asp-validation-for="Client.EmergencyContactPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="Client.EmergencyContactRelationship">Relation to Client</label>
                            <input asp-for="Client.EmergencyContactRelationship" class="form-control" />
                            <span asp-validation-for="Client.EmergencyContactRelationship" class="text-danger"></span>
                        </div>
                    </div>

                    <h5>Other</h5>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Client.CaseManager">Case Manager</label>
                            <input asp-for="Client.CaseManager" class="form-control" />
                            <span asp-validation-for="Client.CaseManager" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Client.HasPets">Pet Description</label>
                            <input asp-for="Client.HasPets" class="form-control" />
                            <span asp-validation-for="Client.HasPets" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <div class="custom-control custom-checkbox custom-control-inline custom-control-lg">
                                <input asp-for="Client.OwnerOfHome" class="custom-control-input" />
                                <label asp-for="Client.OwnerOfHome" class="custom-control-label">Owner of Home?</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline custom-control-lg">
                                <input asp-for="Client.Veteran" class="custom-control-input" />
                                <label asp-for="Client.Veteran" class="custom-control-label">Veteran?</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-pen"></i> Update</button>
                            <button class="btn btn-danger btn-lg text-white" data-dismiss="modal" aria-label="Cancel"><i class="fas fa-times"></i> Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#updateClientModal').on('hidden.bs.modal', function (e) {
                $(this).find('form').trigger('reset');
            });

            var dob = new Date('@Model.Client.BirthDay');
            $('#age').html(calculate_age(dob));
            console.log(dob);
            function calculate_age(dob) {
                var diff_ms = Date.now() - dob.getTime();
                var age_dt = new Date(diff_ms);

                return Math.abs(age_dt.getUTCFullYear() - 1970);
            }
        });
    </script>
}

