﻿@model int
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "404 Error";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Error</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Client Not Found</li>
        }
    }
}
<div class="alert alert-danger">
    <h1>404 Not Found Error</h1>
    <p class="lead">
        That client could not be found.
    </p>
    <strong>
        A Client with the ID @Model could not be found.<br />
        <a class="btn btn-primary" asp-action="ViewClients">Click here to go home</a>
    </strong>
</div>
<div class="container">

</div>
