﻿@model CareConnectionApp.ViewModels.WorkOrders.UpdateCompleteWorkOrderViewModel
@using CareConnectionApp.Enums;
@using Microsoft.AspNetCore.Identity;
@using CareConnectionApp.Models;
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Complete Work Order";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Complete Work Order</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="ClientDetails" asp-route-id="@Model.ClientId">Client Details</a></li>
            <li class="breadcrumb-item active" aria-current="page">Complete Work Order</li>
        }
    }
}
<!--Client Info Section-->
<form enctype="application/x-www-form-urlencoded" asp-action="CompleteWorkOrder" class="loadingForm">
    <input asp-for="Id" hidden />
    <input asp-for="ClientId" hidden />
    <input asp-for="WorkOrderCompletionForm.Id" hidden />
    <div class="container rounded shadow bg-white my-4 p-4">
        <h1>Complete Work Order #@Html.Display("Id")</h1>

        <!--Request Info Section-->

        <div class="row">
            <div class="col-lg-2 col-lg-2 my-1">
                <strong>Request Information</strong>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCategory">Category<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input asp-for="WorkOrderCategory" class="form-control" readonly />
            </div>
        </div>



        @if (Model.Device != null)
        {
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label class="col-form-label">Device Category<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-4 col-lg-4 my-1">
                    <Select name="catId" class="form-control" id="deviceCategory">
                        @foreach (AssistiveDeviceCategory cat in Model.DeviceCategories)
                        {
                            if (cat.Id == Model.Device.CategoryId)
                            {
                                <option value="@cat.Id" selected>@cat.Name</option>
                            }
                            else
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }
                        }
                    </Select>
                </div>
                <div class="col-lg-2 col-lg-2 my-1">
                    <label>Device<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-4 col-lg-4 my-1">
                    <Select asp-for="DeviceId" class="form-control" id="deviceDropdown" required>
                        @foreach (var d in Model.Devices)
                        {
                            if (d.Id == Model.Device.Id)
                            {
                                <option value="@d.Id" selected>@d.Name</option>
                            }
                            else
                            {
                                <option value="@d.Id">@d.Name</option>
                            }
                        }
                    </Select>
                </div>
            </div>
        }

        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="ReqDescription">Description<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-lg-10 my-1">
                <textarea class="form-control" asp-for="ReqDescription"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="SecondaryContact"></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control" asp-for="SecondaryContact" />
            </div>
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="SecondaryContactNumber"></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control" asp-for="SecondaryContactNumber" data-mask="999-999-9999" placeholder="###-###-####" />
            </div>
        </div>
    </div>

    <!--Ramp Request Section-->
    @if (Model.RampRequest != null)
    {
        <input asp-for="RampRequest.Id" hidden />
        <div class="container rounded shadow bg-white my-4 p-4">
            <div class="row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <strong>Ramp Request Info</strong>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label class="col-form-label" asp-for="RampRequest.MobilityDescription">Mobility Description<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-4 col-lg-10 my-1">
                    <textarea asp-for="RampRequest.MobilityDescription" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label class="col-form-label" asp-for="RampRequest.MobilityAssistance">Mobility Assistance<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-4 col-lg-10 my-1">
                    <select asp-for="RampRequest.MobilityAssistance" class="custom-select" asp-items="Html.GetEnumSelectList<MobilityAssistance>()"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label class="col-form-label" asp-for="RampRequest.LengthOfHomeOwnership">Length of Residency<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-4 col-lg-10 my-1">
                    <input asp-for="RampRequest.LengthOfHomeOwnership" class="form-control" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-lg-6">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input asp-for="RampRequest.ContactedVA" class="custom-control-input" />
                        <label asp-for="RampRequest.ContactedVA" class="custom-control-label">Contacted VA</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input asp-for="RampRequest.OwnerOfHome" class="custom-control-input" />
                        <label asp-for="RampRequest.OwnerOfHome" class="custom-control-label">Owner of home</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input asp-for="RampRequest.LiveAlone" class="custom-control-input" />
                        <label asp-for="RampRequest.LiveAlone" class="custom-control-label">Live alone</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input asp-for="RampRequest.PermanentMobilityImpairment" class="custom-control-input" />
                        <label asp-for="RampRequest.PermanentMobilityImpairment" class="custom-control-label">Permanently Impaired</label>
                    </div>
                </div>
            </div>
        </div>
    }

    <!--Date Info Section-->
    <div class="container rounded shadow bg-white my-4 p-4">
        <div class="row">
            <div class="col-lg-2 col-lg-2 my-1">
                <strong>Date</strong>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="DateOfRequest">Requested<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control" asp-for="DateOfRequest" />
            </div>

            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCompletionForm.DateAccepted">Accepted<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control" value="" asp-for="WorkOrderCompletionForm.DateAccepted" />
                <span asp-validation-for="WorkOrderCompletionForm.DateAccepted" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCompletionForm.DateStarted">Started<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control" value="" asp-for="WorkOrderCompletionForm.DateStarted" />
                <span asp-validation-for="WorkOrderCompletionForm.DateStarted" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCompletionForm.DateCompleted">Completed<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control" value="" asp-for="WorkOrderCompletionForm.DateCompleted" />
                <span asp-validation-for="WorkOrderCompletionForm.DateCompleted" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!--Date Info Section-->
    <div class="container rounded shadow bg-white my-4 p-4">
        <div class="row">
            <div class="col-lg-2 col-lg-2 my-1">
                <strong>Volunteer Information</strong>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCompletionForm.Volunteers">Volunteers</label>
            </div>
            <div class="col-lg-10 col-lg-10 my-1">
                <input class="form-control" asp-for="WorkOrderCompletionForm.Volunteers" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCompletionForm.HoursWorked">Hours<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control change-value" asp-for="WorkOrderCompletionForm.HoursWorked" />
                <span asp-validation-for="WorkOrderCompletionForm.HoursWorked" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCompletionForm.Mileage">Mileage<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control change-value" asp-for="WorkOrderCompletionForm.Mileage" />
                <span asp-validation-for="WorkOrderCompletionForm.Mileage" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCompletionForm.Expenses">Expenses<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control change-value" asp-for="WorkOrderCompletionForm.Expenses" />
                <span asp-validation-for="WorkOrderCompletionForm.Expenses" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCompletionForm.Donation">Donation<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control change-value" asp-for="WorkOrderCompletionForm.Donation" />
                <span asp-validation-for="WorkOrderCompletionForm.Donation" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCompletionForm.Comments"></label>
            </div>
            <div class="col-lg-10 col-lg-10 my-1">
                <textarea class="form-control" asp-for="WorkOrderCompletionForm.Comments"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="JobStatus">Status<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-lg-10 my-1">
                <select class="custom-select" asp-for="JobStatus">
                    <option value="" selected>Please Select a Status</option>
                    <option value="1">Inactive</option>
                    <option value="2">Complete</option>
                    <option value="3">Unfulfilled</option>
                </select>
                <span asp-validation-for="JobStatus" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col my-1">
                <button class="btn btn-success" type="submit"><i class="fas fa-pen"></i> Complete</button>
                <a class="btn btn-danger" asp-action="GetClientWorkOrders" asp-route-id="@Model.ClientId">Cancel <i class="fas fa-times"></i></a>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $(document).ready(function () {
        $(".change-value").val(null);
    });
</script>
<script src="~/js/workOrder_scripts/assistive_device.js"></script>