﻿@model CareConnectionApp.ViewModels.WorkOrders.CreateWorkOrderViewModel
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Create Work Request";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">View Clients</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Work Order</li>
        }
    }
}
<div class="container-fluid rounded shadow bg-white my-4 p-4">
    @if (ViewBag.lawnServiceErrorMessage != null)
    {
        <h3 class="text-danger my-2">@ViewBag.lawnServiceErrorMessage</h3>
    }
    <div class="row">
        <div class="col-lg-4">
            <h1>Create Work Request for @Model.Client.FirstName</h1>
        </div>
        <div class="col-lg">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="optionsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu" aria-labelledby="optionsDropDown">
                    <h6 class="dropdown-header">@Model.Client.FirstName @Model.Client.LastName</h6>
                    <a class="dropdown-item" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">View Details</a>
                    <a class="dropdown-item active" asp-action="CreateWorkOrder" asp-route-id="@Model.Client.Id">Create Work Request</a>
                    <a class="dropdown-item" asp-action="GetClientWorkOrders" asp-route-id="@Model.Client.Id">View Work Requests</a>
                    @if (Model.Client.EheapId != null)
                    {
                        <a class="dropdown-item" asp-action="GetEheap" asp-route-id="@Model.Client.Id">View EHEAP</a>
                    }
                    else
                    {
                        <a class="dropdown-item" asp-action="CreateEheap" asp-route-id="@Model.Client.Id">Create EHEAP</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <form enctype="application/x-www-form-urlencoded" asp-action="CreateWorkOrder" method="post" class="loadingForm">
        <input asp-for="ClientId" hidden />
        <div class="row form-group">
            <div class="col-lg-6">
                <label asp-for="WorkOrderCategory">Category<span class="text-danger">*</span></label>
                <select asp-for="WorkOrderCategory" class="custom-select" asp-items="@(new SelectList(Model.Categories))">
                    <option value="">Please select a category</option>
                </select>
                <span asp-validation-for="WorkOrderCategory" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="ReqDescription">Description<span class="text-danger">*</span></label>
                <textarea asp-for="ReqDescription" class="form-control"></textarea>
                <span asp-validation-for="ReqDescription" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3">
                <label asp-for="SecondaryContact">Secondary Contact</label>
                <input asp-for="SecondaryContact" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label asp-for="SecondaryContactNumber">Secondary Contact Phone Number</label>
                <input asp-for="SecondaryContactNumber" class="form-control" data-mask="999-999-9999" placeholder="###-###-####" />
                <span asp-validation-for="SecondaryContactNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg">
                <button type="submit" class="btn btn-success">Create</button>
                <a class="btn btn-danger" asp-action="ViewClients">Cancel <i class="fas fa-times"></i></a>
            </div>
        </div>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}