﻿@model CareConnectionApp.ViewModels.Clients.CreateClientViewModel
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Create New Client";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-controller="Clients" asp-action="CreateClient">Create Client</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Client</li>
        }
    }
}

<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <h1>New Client</h1>
    <form enctype="application/x-www-form-urlencoded" asp-action="CreateClient" method="post" class="loadingForm">
        @if (_signInManager.IsSignedIn(User))
        {
            <input type="hidden" asp-for="UserId" value="@_userManager.GetUserId(User)" />
        }
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label asp-for="@Model.Client.FirstName">First Name<span class="text-danger">*</span></label>
                <input asp-for="@Model.Client.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Client.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="@Model.Client.LastName">Last Name<span class="text-danger">*</span></label>
                <input asp-for="@Model.Client.LastName" class="form-control" />
                <span asp-validation-for="@Model.Client.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-3">
                <label asp-for="@Model.Client.BirthDay">Date of Birth<span class="text-danger">*</span></label>
                <input id="birthDate" asp-for=" @Model.Client.BirthDay" class="form-control" />
                <span asp-validation-for="@Model.Client.BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-1">
                <label for="age">Age</label>
                <input id="age" disabled class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label asp-for="@Model.Client.StreetAddress">Street Address<span class="text-danger">*</span></label>
                <input asp-for="@Model.Client.StreetAddress" class="form-control" />
                <span asp-validation-for="@Model.Client.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4">
                <label asp-for="@Model.Client.City">City<span class="text-danger">*</span></label>
                <input asp-for="@Model.Client.City" class="form-control" />
                <span asp-validation-for="@Model.Client.City" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-2">
                <label asp-for="@Model.Client.Zip">Zip Code<span class="text-danger">*</span></label>
                <input asp-for="@Model.Client.Zip" class="form-control zipcode" />
                <span asp-validation-for="@Model.Client.Zip" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label asp-for="@Model.Client.HomePhone">Main Phone<span class="text-danger">*</span></label>
                <input asp-for="@Model.Client.HomePhone" class="form-control" data-mask="999-999-9999" placeholder="###-###-####" />
                <span asp-validation-for="@Model.Client.HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="@Model.Client.CellPhone">Secondary Phone</label>
                <input asp-for="@Model.Client.CellPhone" class="form-control" data-mask="999-999-9999" placeholder="###-###-####" />
                <span asp-validation-for="@Model.Client.CellPhone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-4">
                <label asp-for="@Model.Client.EmergencyContactName">Emergency Contact Name</label>
                <input asp-for="@Model.Client.EmergencyContactName" class="form-control" />
            </div>
            <div class="form-group col-lg-4">
                <label asp-for="@Model.Client.EmergencyContactPhoneNumber">Emergency Contact Phone Number</label>
                <input asp-for="@Model.Client.EmergencyContactPhoneNumber" class="form-control" data-mask="999-999-9999" placeholder="###-###-####" />
                <span asp-validation-for="@Model.Client.EmergencyContactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4">
                <label asp-for="@Model.Client.EmergencyContactRelationship">Relation to Client</label>
                <input asp-for="@Model.Client.EmergencyContactRelationship" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-4">
                <label asp-for="@Model.Client.CaseManager">Case Manager</label>
                <input asp-for="@Model.Client.CaseManager" class="form-control" />
            </div>
            <div class="form-group col-lg-8">
                <label asp-for="@Model.Client.HasPets">Pets</label>
                <input asp-for="@Model.Client.HasPets" class="form-control" />
            </div>
            <div class="form-group col-lg-6">
                <div class="custom-control custom-checkbox custom-control-inline custom-control-lg">
                    <input asp-for="@Model.Client.OwnerOfHome" class="custom-control-input" />
                    <label asp-for="@Model.Client.OwnerOfHome" class="custom-control-label">Owner of Home</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline custom-control-lg">
                    <input asp-for="@Model.Client.Veteran" class="custom-control-input" />
                    <label asp-for="@Model.Client.Veteran" class="custom-control-label">Veteran</label>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg">
                <div class="custom-control custom-checkbox custom-control-inline custom-control-lg">
                    <input asp-for="@Model.CreateWorkRequestAfter" class="custom-control-input" />
                    <label asp-for="@Model.CreateWorkRequestAfter" class="custom-control-label">Create work request after creating client</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-success" id="submitBtn">Submit</button>
                <a class="btn btn-danger" asp-action="ViewClients">Cancel <i class="fas fa-times"></i></a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#birthDate').focusout(function () {
                var dob = new Date($('#birthDate').val());
                $('#age').val(calculate_age(dob));
                console.log(calculate_age(dob));
            });
            function calculate_age(dob) {
                var diff_ms = Date.now() - dob.getTime();
                var age_dt = new Date(diff_ms);

                return Math.abs(age_dt.getUTCFullYear() - 1970);
            }
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}