﻿@model CareConnectionApp.ViewModels.WorkOrders.CreateRampRequestViewModel
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@using CareConnectionApp.Enums
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "New Ramp Request";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Ramp Request</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="ClientDetails" asp-route-id="@Model.ClientId">Client Details</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="CreateWorkOrder" asp-route-id="@Model.ClientId">Create Work Order</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ramp Request</li>
        }
    }
}
<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <h1>New Ramp Request Form</h1>
    <form method="post" asp-action="CreateRampRequest" class="loadingForm">
        <input asp-for="ClientId" hidden />
        <div class="form-row">
            <div class="form-group col-lg-4">
                <label asp-for="WorkOrderCategory">Category<span class="text-danger">*</span></label>
                <input asp-for="WorkOrderCategory" readonly class="form-control" />
                <span asp-validation-for="WorkOrderCategory" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-4">
                <label asp-for="ReqDescription">Description<span class="text-danger">*</span></label>
                <textarea asp-for="ReqDescription" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-4">
                <label asp-for="MobilityAssistance">Mobility Assistance<span class="text-danger">*</span></label>
                <select asp-for="MobilityAssistance" class="custom-select" asp-items="Html.GetEnumSelectList<MobilityAssistance>()"></select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-4">
                <label asp-for="MobilityDescription">Mobility Description<span class="text-danger">*</span></label>
                <textarea asp-for="MobilityDescription" class="form-control"></textarea>
                <span asp-validation-for="MobilityDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <label asp-for="LengthOfHomeOwnership">Length of Residency<span class="text-danger">*</span></label>
                <input asp-for="LengthOfHomeOwnership" class="form-control" />
                <span asp-validation-for="LengthOfHomeOwnership" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-6">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input asp-for="ContactedVA" class="custom-control-input" />
                    <label asp-for="ContactedVA" class="custom-control-label">Contacted VA</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input asp-for="OwnerOfHome" class="custom-control-input" />
                    <label asp-for="OwnerOfHome" class="custom-control-label">Owner of home</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input asp-for="LiveAlone" class="custom-control-input" />
                    <label asp-for="LiveAlone" class="custom-control-label">Live alone</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input asp-for="PermanentMobilityImpairment" class="custom-control-input" />
                    <label asp-for="PermanentMobilityImpairment" class="custom-control-label">Permanently Impaired</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-danger" asp-controller="Clients" asp-action="ViewClients">Cancel <i class="fas fa-times"></i></a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}