﻿@model CareConnectionApp.ViewModels.Clients.EheapViewModel
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Create EHEAP";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Create EHEAP</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create EHEAP</li>
        }
    }
}
<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <div class="row">
        <div class="col-4">
            <h1>Create EHEAP for @Html.Display("Client.FirstName")</h1>
        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="optionsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu" aria-labelledby="optionsDropDown">
                    <h6 class="dropdown-header">@Model.Client.FirstName @Model.Client.LastName</h6>
                    <a class="dropdown-item" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a>
                    <a class="dropdown-item" asp-action="CreateWorkOrder" asp-route-id="@Model.Client.Id">Create Work Request</a>
                    <a class="dropdown-item" asp-action="GetClientWorkOrders" asp-route-id="@Model.Client.Id">View Work Requests</a>
                    <a class="dropdown-item active" asp-action="CreateEheap" asp-route-id="@Model.Client.Id">Create EHEAP</a>
                </div>
            </div>
        </div>
    </div>
    <form method="post" asp-action="CreateEheap" class="loadingForm">
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="ClientId">Client ID</label>
                <input asp-for="ClientId" readonly class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label>Client Name</label>
                <input readonly class="form-control" placeholder="@Model.Client.FirstName @Model.Client.LastName" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="Expenses">Expense<span class="text-danger">*</span></label>
                <input asp-for="Expenses" class="form-control" value="" />
                <span asp-validation-for="Expenses" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="DateOfService">Date of service<span class="text-danger">*</span></label>
                <input asp-for="DateOfService" class="form-control" value="" />
                <span asp-validation-for="DateOfService" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
        <a class="btn btn-danger" asp-action="ViewClients">Cancel <i class="fas fa-times"></i></a>

    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
