﻿@model CareConnectionApp.ViewModels.WorkOrders.CreateAssistiveDeviceViewModel
@using CareConnectionApp.Enums
@{
    ViewData["Title"] = "CreateAssistiveDeviceWorkOrder";
}

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "View Clients";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Assistive Device</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="ClientDetails" asp-route-id="@Model.ClientId">Client Details</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="CreateWorkOrder" asp-route-id="@Model.ClientId">Create Work Order</a></li>
            <li class="breadcrumb-item active" aria-current="page">Assistive Device</li>
        }
    }
}

<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <h1>Assistive Devices</h1>
    <form method="post" asp-controller="OfficeStaff" asp-action="CreateAssistiveDeviceWorkOrder">
        <input asp-for="ClientId" hidden />
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label asp-for="WorkOrderCategory">Category<span class="text-danger">*</span></label>
                <input asp-for="WorkOrderCategory" readonly class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg">
                <label asp-for="ReqDescription">Description<span class="text-danger">*</span></label>
                <textarea asp-for="ReqDescription" class="form-control"></textarea>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-lg-6">
                <label>Device Category<span class="text-danger">*</span></label>
            </div>
            <div class="form-group col-lg-6">
                <select asp-for="CategoryId" name="catId" class="form-control" id="deviceCategory">
                    <option value="">Select a category</option>
                    @foreach (AssistiveDeviceCategory cat in Model.categories)
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label>Device<span class="text-danger">*</span></label>
            </div>
            <div class="form-group col-lg-6">
                <Select asp-for="DeviceId" class="form-control" id="deviceDropdown"></Select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success btn-lg w-100">Create</button>
                <a class="btn btn-danger btn-lg w-100 my-1" asp-action="ViewClients">Cancel <i class="fas fa-times"></i></a>
            </div>
        </div>
    </form>


</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/workOrder_scripts/assistive_device.js"></script>


