﻿@model CareConnectionApp.ViewModels.Clients.GetClientWorkOrdersViewModel
@using CareConnectionApp.Utility_Classes
@using CareConnectionApp.Enums
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "View Clients Work Requests";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Client Work Orders</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a></li>
            <li class="breadcrumb-item active" aria-current="page">Client Work Orders</li>
        }
    }
}
<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <div class="row">
        <div class="col-lg-4">
            <h1>Work Orders for @Html.Display("Client.FirstName")</h1>
        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="optionsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu" aria-labelledby="optionsDropDown">
                    <h6 class="dropdown-header">@Model.Client.FirstName @Model.Client.LastName</h6>
                    <a class="dropdown-item" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a>
                    <a class="dropdown-item" asp-action="CreateWorkOrder" asp-route-id="@Model.Client.Id">Create Work Request</a>
                    <a class="dropdown-item active" asp-action="GetClientWorkOrders" asp-route-id="@Model.Client.Id">View Work Requests</a>
                    @if (Model.Client.EheapId != null)
                    {
                        <a class="dropdown-item" asp-action="GetEheap" asp-route-id="@Model.Client.Id">View EHEAP</a>
                    }
                    else
                    {
                        <a class="dropdown-item" asp-action="CreateEheap" asp-route-id="@Model.Client.Id">Create EHEAP</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <form asp-action="GetClientWorkOrders" method="post">
        <input asp-for="Client.Id" hidden />
        <input asp-for="Client.FirstName" hidden />
        <div class="row my-2">
            <div class="col-lg-2 my-1">
                <label asp-for="WorkOrderCategory">Category</label>
                <select asp-for="WorkOrderCategory" class="custom-select" asp-items="@(new SelectList(Model.Categories))"></select>
                <span asp-validation-for="WorkOrderCategory" class="text-danger"></span>
            </div>
            <div class="col-lg-2 my-1">
                <label asp-for="JobStatus">Status</label>
                <select asp-for="JobStatus" class="custom-select" asp-items="Html.GetEnumSelectList<JobStatus>()">
                </select>
                <span asp-validation-for="JobStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-2 my-1">
                <button type="submit" class="btn btn-success"><i class="fas fa-search"></i> Search</button>
                <a class="btn btn-danger" asp-action="GetClientWorkOrders"><i class="fas fa-redo"></i> Reset</a>
            </div>
        </div>
    </form>

    @if (Model.WorkOrders.Any())
    {
        <div class="table-responsive d-none d-lg-block d-xl-block">
            <table class="table table-hover table-sm" id="clientWorkOrdersTable">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="border-0 text-link" onclick="sortNumberInTable('clientWorkOrdersTable', 0)">ID <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-link" onclick="sortStringInTable('clientWorkOrdersTable', 1)">Category <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-link" onclick="sortDateInTable('clientWorkOrdersTable', 2)">Date of Request <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-link" onclick="sortStringInTable('clientWorkOrdersTable', 3)">Description <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-center">Actions</th>
                </thead>
                @foreach (var cr in Model.WorkOrders)
                {

                    <tbody>
                        <tr>
                            <td>
                                <a asp-controller="Clients" asp-action="ViewWorkOrderDetails" asp-route-id="@cr.WorkOrder.Id">@cr.WorkOrder.Id</a>
                            </td>
                            <td>
                                @cr.WorkOrder.WorkOrderCategory.Category
                            </td>
                            <td>
                                @cr.WorkOrder.DateOfRequest
                            </td>
                            <td>
                                @StringHelperClass.DescriptionEditor(cr.WorkOrder.ReqDescription)
                            </td>
                            <td class="text-center">
                                <a class="btn btn-success btn-sm" asp-action="UpdateWorkOrder" asp-route-id="@cr.WorkOrder.Id"><i class="fas fa-pen"></i> Update</a>
                                @if (cr.WorkOrder.WorkOrderCompletionFormId == null)
                                {
                                    <a class="btn btn-success btn-sm" asp-action="CompleteWorkOrder" asp-route-id="@cr.WorkOrder.Id"><i class="fas fa-pen"></i> Complete</a>

                                }
                                <a class="btn btn-warning btn-sm" asp-action="ViewWorkOrderDetails" asp-route-id="@cr.WorkOrder.Id"><i class="fas fa-search"></i> View</a>
                            </td>
                        </tr>
                    </tbody>

                }
            </table>
        </div>
        @foreach (var cr in Model.WorkOrders)
        {
            <div class="card d-block d-lg-none d-xl-none">
                <div class="card-body">
                    <h5 class="card-title">@cr.WorkOrder.WorkOrderCategory.Category</h5>
                    <h6 class="card-subtitle text-muted">ID: @cr.WorkOrderId</h6>
                    <p>@cr.WorkOrder.DateOfRequest</p>
                    <div class="row">
                        <div class="col">
                            <a class="card-link accent-text-color" asp-action="UpdateWorkOrder" asp-route-id="@cr.WorkOrder.Id">Update</a>
                        </div>
                        <div class="col">
                            <a class="card-link accent-text-color" asp-action="ViewWorkOrderDetails" asp-route-id="@cr.WorkOrder.Id">View</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>No work requests found.</h3>
    }
</div>

@section Scripts{
    <script src="~/js/tableSorting.js"></script>
    <partial name="_ValidationScriptsPartial" />
}