﻿@model CareConnectionApp.ViewModels.Clients.GetEheapViewModel
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "EHEAP Details";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">View Clients</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a></li>
            <li class="breadcrumb-item active" aria-current="page">View EHEAP</li>
        }
    }
}
<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <div class="row">
        <div class="col-4">
            <h1>EHEAP Details for @Html.Display("Client.FirstName")</h1>
        </div>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="optionsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu" aria-labelledby="optionsDropDown">
                    <h6 class="dropdown-header">@Model.Client.FirstName @Model.Client.LastName</h6>
                    <a class="dropdown-item" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a>
                    <a class="dropdown-item" asp-action="CreateWorkOrder" asp-route-id="@Model.Client.Id">Create Work Request</a>
                    <a class="dropdown-item" asp-action="GetClientWorkOrders" asp-route-id="@Model.Client.Id">View Work Requests</a>
                    <a class="dropdown-item active" asp-action="GetEheap" asp-route-id="@Model.Client.Id">View EHEAP</a>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-lg-4 my-2">
            <label asp-for="Client.Id">Client ID</label>
            <input asp-for="Client.Id" readonly class="form-control" />
            <span asp-validation-for="Client.Id" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-4 my-2">
            <label>Client Name</label>
            <input readonly class="form-control" value="@Model.Client.FirstName @Model.Client.LastName" />
        </div>
    </div>

    <div class="form-row">
        <div class="col-lg-4 my-2">
            <label asp-for="Eheap.Expenses">Expense:</label>
            <input asp-for="Eheap.Expenses" readonly class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-4 my-2">
            <label asp-for="Eheap.DateOfService">Date of service:</label>
            <input asp-for="Eheap.DateOfService" readonly class="form-control" />
        </div>
    </div>
    @functions
        {
        public string RenewelDateCheck()
        {

            DateTime originalMonth = Model.Eheap.DateOfService.Date;
            int intDate = originalMonth.Month;
            string viewString = "";
            switch (intDate)
            {
                case 10:
                case 11:
                case 12:
                case 1:
                case 2:
                case 3:
                    viewString = "Next eligible day to renew EHEAP form is during the heating season starting 4/1 (April - September).";
                    break;
                case 4:
                case 5:
                case 6:
                case 7:
                case 8:
                case 9:
                    viewString = "Next eligible day to renew EHEAP form is during the cooling season starting 10/1 (October - March).";
                    break;

            }
            return viewString;
        }
    }
    <p>@RenewelDateCheck()</p>

    <a class="btn btn-success" asp-action="UpdateEheap" asp-route-id="@Model.Client.Id">Update</a>
    <a class="btn btn-danger" asp-action="Index">Cancel <i class="fas fa-times"></i></a>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
