﻿@model CareConnectionApp.ViewModels.WorkOrders.WorkDetailsViewModel
@using CareConnectionApp.Enums
@{
    ViewBag.Title = "Print Work Order Details";
}
@section Styles {
    <link rel="stylesheet" href="~/css/PrintStyles.css" media="print" />
}

<div class="container bg-white my-4 p-4">
    <h1>Work Order #@Html.Display("WorkOrder.Id") Details</h1>
    <button class="btn btn-success hideOnPrint" onclick="window.print()"><i class="fas fa-print"></i> Print</button>

    <div class="row">
        <div class="col-lg-2 col-lg-2 my-1">
            <strong>Client Information</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label asp-for="Client.FirstName">First Name</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="printClass" disabled asp-for="Client.FirstName" />
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <label asp-for="Client.LastName">Last Name</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="printClass" disabled asp-for="Client.LastName" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label asp-for="Client.StreetAddress">Address</label>
        </div>
        <div class="col-lg-6 col-lg-6 ">
            <input class="printClass" disabled asp-for="Client.StreetAddress" />
        </div>
        <div class="col-lg-2 col-lg-2">
            <input class="printClass" disabled asp-for="Client.City" />
        </div>
        <div class="col-lg-2 col-lg-2">
            <input class="printClass" disabled asp-for="Client.Zip" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <label asp-for="Client.HomePhone">Home Phone</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled asp-for="Client.HomePhone" data-mask="999-999-9999" placeholder="###-###-####" />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label asp-for="Client.CellPhone">Cell Phone</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled asp-for="Client.CellPhone" data-mask="999-999-9999" placeholder="N/A" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.SecondaryContact">Secondary Contact</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled asp-for="WorkOrder.SecondaryContact" placeholder="N/A" />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.SecondaryContactNumber">Secondary Contact Phone Number</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled asp-for="WorkOrder.SecondaryContactNumber" data-mask="999-999-9999" placeholder="N/A" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <label asp-for="Client.HasPets">Pets</label>
        </div>
        <div class="col-lg col-lg">
            <input class="printClass" disabled asp-for="Client.HasPets" value="@(string.IsNullOrEmpty(Model.Client.HasPets) ? "Yes" : "No")" />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label asp-for="Client.EheapId">EHEAP Form</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            @if (Model.Client.EheapId != null)
            {
                <input class="printClass" disabled value="Provided" />
            }
            else
            {
                <input class="printClass" disabled value="Not Provided" />
            }
        </div>
    </div>


    <!--Request Info Section-->

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <strong>Request Information</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.WorkOrderCategory.Category">Category</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled asp-for="WorkOrder.WorkOrderCategory.Category" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-2">
            <label class="col-form-label" asp-for="WorkOrder.ReqDescription"></label>
        </div>
        <div class="col-lg-10 col-lg-10 my-1">
            <textarea class="printClass" disabled asp-for="WorkOrder.ReqDescription"></textarea>
        </div>
    </div>
    @if (Model.WorkOrder.AssistiveDeviceId != null)
    {
        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="AssistiveDevice">Device</label>
            </div>
            <div class="col-lg-10 col-lg-10 my-1">
                <input class="printClass" disabled asp-for="AssistiveDevice.Name" />
            </div>
        </div>
    }


    <!--Date Info Section-->

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <strong>Date</strong>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.DateOfRequest">Requested</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            @if (Model.WorkOrder.DateOfRequest != null)
            {
                <input class="printClass" disabled asp-for="WorkOrder.DateOfRequest" />
            }
            else
            {
                <input class="printClass" disabled />

            }
        </div>
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.WorkOrderCompletionForm.DateAccepted">Accepted</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            @if (Model.WorkOrder.WorkOrderCompletionFormId != null)
            {
                <input class="printClass" disabled asp-for="WorkOrder.WorkOrderCompletionForm.DateAccepted" />
            }
            else
            {
                <input class="printClass" disabled />

            }

        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.WorkOrderCompletionForm.DateStarted">Started</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            @if (Model.WorkOrder.WorkOrderCompletionFormId != null)
            {
                <input class="printClass" disabled asp-for="WorkOrder.WorkOrderCompletionForm.DateStarted" />
            }
            else
            {
                <input class="printClass" disabled />
            }
        </div>
        <div class="col-lg-2 col-lg-2">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCompletionForm.DateCompleted">Completed</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            @if (Model.WorkOrder.WorkOrderCompletionFormId != null)
            {
                <input class="printClass" disabled asp-for="WorkOrder.WorkOrderCompletionForm.DateCompleted" />
            }
            else
            {
                <input class="printClass" disabled />
            }
        </div>
    </div>


    <!--Volunteer Info Section-->

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2 my-1">
            <strong>Volunteer Information</strong>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.WorkOrderCompletionForm.Volunteers">Volunteers</label>
        </div>
        <div class="col-lg-10 col-lg-10">
            <input class="printClass" disabled asp-for="WorkOrder.WorkOrderCompletionForm.Volunteers" />
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.WorkOrderCompletionForm.HoursWorked">Hours</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled asp-for="WorkOrder.WorkOrderCompletionForm.HoursWorked" />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.WorkOrderCompletionForm.Mileage">Mileage</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled asp-for="WorkOrder.WorkOrderCompletionForm.Mileage" />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.WorkOrderCompletionForm.Expenses">Expenses</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled asp-for="WorkOrder.WorkOrderCompletionForm.Expenses" />
        </div>
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.WorkOrderCompletionForm.Donation">Donation</label>
        </div>
        <div class="col-lg-4 col-lg-4">
            <input class="printClass" disabled asp-for="WorkOrder.WorkOrderCompletionForm.Donation" />
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.WorkOrderCompletionForm.Comments"></label>
        </div>
        <div class="col-lg-10 col-lg-10">
            <textarea class="printClass printComments my-3" disabled asp-for="WorkOrder.WorkOrderCompletionForm.Comments"></textarea>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-2 col-lg-2">
            <label asp-for="WorkOrder.JobStatus">Status</label>
        </div>
        <div class="col-lg-10 col-lg-10">
            @if (Model.WorkOrder.WorkOrderCompletionFormId != null)
            {
                <input asp-for="WorkOrder.JobStatus" class="printClass" />
            }
            else
            {
                <input class="printClass" />
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-2 my-3">
            <label>Please Sign Here: </label>
        </div>
        <div class="col-lg-10 col-lg-10 my-3 printClass">

        </div>
    </div>

    @if (Model.WorkOrder.RampRequest != null)
    {
        <P style="page-break-before: always">
            <div class="row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <strong>Ramp Request Information</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <strong>For Work Order #@Model.WorkOrder.Id</strong>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label>Mobility Description</label>
                </div>
                <div class="col-lg-10 col-lg-10 my-1">
                    <input asp-for="WorkOrder.RampRequest.MobilityDescription" class="printClass" disabled />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label class="col-form-label" asp-for="WorkOrder.RampRequest.MobilityAssistance">Mobility Assistance</label>
                </div>
                <div class="col-lg-10 col-lg-10 my-1">
                    <input asp-for="WorkOrder.RampRequest.MobilityAssistance" class="printClass" disabled />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label class="col-form-label" asp-for="WorkOrder.RampRequest.LengthOfHomeOwnership">Length Of Ownership</label>
                </div>
                <div class="col-lg-10 col-lg-10 my-1">
                    <input asp-for="WorkOrder.RampRequest.LengthOfHomeOwnership" class="printClass" disabled />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <div class="form-check form-check-inline">
                        <input asp-for="WorkOrder.RampRequest.ContactedVA" disabled class="form-check-input" />
                        <label asp-for="WorkOrder.RampRequest.ContactedVA" class="form-check-label">Contacted VA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="WorkOrder.RampRequest.OwnerOfHome" disabled class="form-check-input" />
                        <label asp-for="WorkOrder.RampRequest.OwnerOfHome" class="form-check-label">Owner of home</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="WorkOrder.RampRequest.LiveAlone" disabled class="form-check-input" />
                        <label asp-for="WorkOrder.RampRequest.LiveAlone" class="form-check-label">Live alone</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="WorkOrder.RampRequest.PermanentMobilityImpairment" disabled class="form-check-input" />
                        <label asp-for="WorkOrder.RampRequest.PermanentMobilityImpairment" class="form-check-label">Permanently Impaired</label>
                    </div>
                </div>
            </div>
        </P>
    }

</div>
