﻿@model CareConnectionApp.ViewModels.LawnService.PrintLawnServiceViewModel
@{
    ViewData["Title"] = "Print Service List";
}
@section Styles {
    <link rel="stylesheet" href="~/css/PrintStyles.css" media="print" />
}


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <h1>Zone: @Model.Zone.Name</h1>
                <button class="btn btn-danger hideOnPrint my-2" onclick="window.print()"><i class="fas fa-print"></i> Print</button>
            </div>
            @if (Model.DaysSinceLastService != -1)
            {
                <div class="col-6">
                    <h3>Days since last service: @Model.DaysSinceLastService</h3>
                </div>
            }
            else
            {
                <div class="col-6">
                    <h3>Days since last service: No lawn services available.</h3>
                </div>
            }
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Phone Number</td>
                </tr>
            </thead>
            <tbody>
                @foreach (LawnServiceList l in Model.LawnServiceList)
                {
                    <tr>
                        <td>@l.Client.FirstName @l.Client.LastName</td>
                        <td>@l.Client.StreetAddress</td>
                        <td>@String.Format("{0 : ###-###-####}", double.Parse(l.Client.HomePhone))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
