﻿@model CareConnectionApp.ViewModels.WorkOrders.SearchWorkOrdersViewModel
@using CareConnectionApp.Utility_Classes
@using CareConnectionApp.Enums
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "View Work Requests";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="SearchWorkOrders">@ViewData["Title"]</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Work Requests</li>
        }
    }
}
<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <h1>Search Work Requests</h1>
    <a class="btn btn-primary" asp-action="BlankWorkOrder" target="_blank">Blank Work Order</a>
    <form asp-action="SearchWorkOrders" method="post">
        <input hidden asp-for="PageNum" value="@Model.PageNum" />
        <input hidden asp-for="SortBy" class="sortBy" />
        <input hidden asp-for="SortOrder" class="sortOrder" />
        <div class="row my-2">
            <div class="col-lg-2 my-1">
                <label asp-for="WorkOrderCategory">Category</label>
                <select asp-for="WorkOrderCategory" class="custom-select" asp-items="@(new SelectList(Model.Categories))"></select>
                <span asp-validation-for="WorkOrderCategory" class="text-danger"></span>
            </div>
            <div class="col-lg-2 my-1">
                <label asp-for="JobStatus">Status</label>
                <select asp-for="JobStatus" class="custom-select" asp-items="Html.GetEnumSelectList<JobStatus>()">
                </select>
                <span asp-validation-for="JobStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-2 my-1">
                <button type="submit" class="btn btn-success"><i class="fas fa-search"></i> Search</button>
                <a class="btn btn-danger" asp-action="SearchWorkOrders"><i class="fas fa-redo"></i> Reset</a>
            </div>
        </div>
        <p>Showing @Model.ShownResults out of @Model.TotalResults results.</p>
    </form>
    @if (Model.WorkOrders.Any())
    {
        <div class="table-responsive d-none d-lg-block d-xl-block">
            <table class="table table-hover table-sm" id="searchWorkOrdersTable">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="border-0 text-link" onclick="sortNumberInTable('searchWorkOrdersTable', 0, true, 'id')">WorkorderID <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-link" onclick="sortStringInTable('searchWorkOrdersTable', 1, true, 'name')">Name <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-link" onclick="sortStringInTable('searchWorkOrdersTable', 2, true, 'category')">Category <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-link" onclick="sortDateInTable('searchWorkOrdersTable', 3, true, 'date')">Date <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-link" onclick="sortStringInTable('searchWorkOrdersTable', 4, true, 'description')">Description <i class="fas fa-sort"></i></th>
                        <th class="border-0 text-center">Actions</th>
                </thead>
                @foreach (var wo in Model.WorkOrders)
                {

                    <tbody>
                        <tr>
                            <td>
                                @wo.Id
                            </td>
                            <td>
                                <a asp-action="ClientDetails" asp-route-id="@wo.ClientRequest.ClientId">@wo.ClientRequest.Client.FirstName @wo.ClientRequest.Client.LastName</a>
                            </td>
                            <td>
                                @wo.WorkOrderCategory.Category
                            </td>
                            <td>
                                @wo.DateOfRequest.ToString("MM/dd/yyyy")
                            </td>
                            <td>
                                @StringHelperClass.DescriptionEditor(wo.ReqDescription)
                            </td>
                            <td class="text-center">
                                <a class="btn btn-success btn-sm" asp-action="UpdateWorkOrder" asp-route-id="@wo.Id"><i class="fas fa-pen"></i> Update</a>
                                @if (wo.WorkOrderCompletionFormId == null)
                                {
                                    <a class="btn btn-success btn-sm" asp-action="CompleteWorkOrder" asp-route-id="@wo.Id"><i class="fas fa-pen"></i> Complete</a>
                                }
                                <a class="btn btn-warning btn-sm" asp-action="ViewWorkOrderDetails" asp-route-id="@wo.Id"><i class="fas fa-search"></i> View Details</a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>

        @foreach (var wo in Model.WorkOrders)
        {
            <div class="card d-block d-lg-none d-xl-none">
                <div class="card-body">
                    <h5 class="card-title">@wo.WorkOrderCategory.Category</h5>
                    <h6 class="card-subtitle text-muted">ID: @wo.Id</h6>
                    <p>@wo.ClientRequest.Client.FirstName @wo.ClientRequest.Client.LastName</p>
                    <p>@wo.DateOfRequest</p>
                    <div class="row">
                        <div class="col">
                            <a class="card-link accent-text-color" asp-action="UpdateWorkOrder" asp-route-id="@wo.Id">Update</a>
                        </div>
                        <div class="col">
                            <a class="card-link accent-text-color" asp-action="ViewWorkOrderDetails" asp-route-id="@wo.Id">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        <form asp-action="MoreWorkOrders" method="post">
            <input hidden asp-for="JobStatus" />
            <input hidden asp-for="WorkOrderCategory" />
            <input hidden asp-for="PageNum" value="@Model.PageNum" />
            <input hidden asp-for="SortBy" class="sortBy" />
            <input hidden asp-for="SortOrder" class="sortOrder" />
        <div class="text-center">
            <button type="submit" class="btn btn-warning">More</button>
        </div>
        </form>
    }
    else
    {
        <h3>No work requests found.</h3>
    }
</div>

@section Scripts{
    <script src="~/js/tableSorting.js"></script>
    <partial name="_ValidationScriptsPartial" />
}