﻿@model CareConnectionApp.ViewModels.WorkOrders.SearchWorkOrdersViewModel
@using CareConnectionApp.Enums
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "View Work Requests";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="SearchWorkOrders">@ViewData["Title"]</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Work Requests</li>
        }
    }
}
<div class="container-fluid rounded shadow bg-white my-4 p-4">
    <h1>Search Work Requests</h1>
    <a class="btn btn-primary" asp-action="BlankWorkOrder" target="_blank">Blank Work Order</a>
    <form asp-action="SearchWorkOrders" method="post">
        <input hidden asp-for="@Model.PageNum" />
        <div class="row my-2">
            <div class="col-lg-2 my-1">
                <label asp-for="WorkOrderCategory">Category</label>
                <select asp-for="WorkOrderCategory" class="custom-select" asp-items="@(new SelectList(Model.Categories))"></select>
                <span asp-validation-for="WorkOrderCategory" class="text-danger"></span>
            </div>
            <div class="col-lg-2 my-1">
                <label asp-for="JobStatus">Status</label>
                <select asp-for="JobStatus" class="custom-select" asp-items="Html.GetEnumSelectList<JobStatus>()">
                </select>
                <span asp-validation-for="JobStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-2 my-1">
                <button type="submit" class="btn btn-success"><i class="fas fa-search"></i> Search</button>
                <a class="btn btn-danger" asp-action="SearchWorkOrders"><i class="fas fa-redo"></i> Reset</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}