﻿@model CareConnectionApp.ViewModels.WorkOrders.UpdateIncompleteWorkOrderViewModel
@using CareConnectionApp.Enums;
@using Microsoft.AspNetCore.Identity;
@using CareConnectionApp.Models;
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Update Work Order";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Update Work Request</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="ClientDetails" asp-route-id="@Model.ClientId">Client Details</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update Work Request</li>
        }
    }
}
<!--Client Info Section-->
<form enctype="application/x-www-form-urlencoded" method="post" asp-action="UpdateIncompleteWorkOrder" class="loadingForm">
    <input asp-for="Id" hidden />
    <input asp-for="ClientId" hidden />
    @*<input asp-for="WorkOrderCompletionForm.Id" hidden />*@
    <div class="container rounded shadow bg-white my-4 p-4">
        <h1>Update Work Order #@Html.Display("Id")</h1>


        <!--Request Info Section-->

        <div class="row">
            <div class="col-lg-2 col-lg-2 my-1">
                <strong>Request Information</strong>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrderCategory">Category<span class="text-danger">*</span></label>
            </div>
            @if (admin)
            {
                if (Model.WorkOrderCategory.Equals("Lawn Service") || Model.WorkOrderCategory.Equals("Ramp") ||
                    Model.WorkOrderCategory.Equals("Assistive Device"))
                {
                    <div class="col-lg-4 col-lg-4 my-1">
                        <input asp-for="WorkOrderCategory" class="form-control" readonly />
                    </div>
                }
                else
                {
                    <div class="col-lg-4 col-lg-4 my-1">
                        <select asp-for="WorkOrderCategory" class="custom-select" asp-items="@(new SelectList(Model.Categories))">
                            <option value="">Please select a category</option>
                        </select>
                        <span asp-validation-for="WorkOrderCategory" class="text-danger"></span>
                    </div>
                }

            }
            else
            {
                <div class="col-lg-4 col-lg-4 my-1">
                    <input asp-for="WorkOrderCategory" class="form-control" readonly />
                </div>
            }
        </div>



        @if (Model.Device != null)
        {
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label class="col-form-label">Device Category<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-4 col-lg-4 my-1">
                    <Select name="catId" class="form-control" id="deviceCategory">
                        @foreach (AssistiveDeviceCategory cat in Model.DeviceCategories)
                        {
                            if (cat.Id == Model.Device.CategoryId)
                            {
                                <option value="@cat.Id" selected>@cat.Name</option>
                            }
                            else
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }
                        }
                    </Select>
                </div>
                <div class="col-lg-2 col-lg-2 my-1">
                    <label>Device<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-4 col-lg-4 my-1">
                    <Select asp-for="DeviceId" class="form-control" id="deviceDropdown" required>
                        @foreach (var d in Model.Devices)
                        {
                            if (d.Id == Model.Device.Id)
                            {
                                <option value="@d.Id" selected>@d.Name</option>
                            }
                            else
                            {
                                <option value="@d.Id">@d.Name</option>
                            }
                        }
                    </Select>
                </div>
            </div>
        }

        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="ReqDescription">Description<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-10 col-lg-10 my-1">
                <textarea class="form-control" asp-for="ReqDescription"></textarea>
                <span asp-validation-for="ReqDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="SecondaryContact"></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control" asp-for="SecondaryContact" />
            </div>
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="SecondaryContactNumber"></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control" asp-for="SecondaryContactNumber" data-mask="999-999-9999" placeholder="###-###-####" />
            </div>
        </div>
    </div>

    <!--Ramp Request Section-->
    @if (Model.RampRequest != null)
    {
        <input asp-for="RampRequest.Id" hidden />
        <div class="container rounded shadow bg-white my-4 p-4">
            <div class="row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <strong>Ramp Request Info</strong>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label class="col-form-label" asp-for="RampRequest.MobilityDescription">Mobility Description<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-4 col-lg-10 my-1">
                    <textarea asp-for="RampRequest.MobilityDescription" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label class="col-form-label" asp-for="RampRequest.MobilityAssistance">Mobility Assistance<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-4 col-lg-10 my-1">
                    <select asp-for="RampRequest.MobilityAssistance" class="custom-select" asp-items="Html.GetEnumSelectList<MobilityAssistance>()"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2 col-lg-2 my-1">
                    <label class="col-form-label" asp-for="RampRequest.LengthOfHomeOwnership">Length of Residency<span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-4 col-lg-10 my-1">
                    <input asp-for="RampRequest.LengthOfHomeOwnership" class="form-control" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-lg-6">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input asp-for="RampRequest.ContactedVA" class="custom-control-input" />
                        <label asp-for="RampRequest.ContactedVA" class="custom-control-label">Contacted VA</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input asp-for="RampRequest.OwnerOfHome" class="custom-control-input" />
                        <label asp-for="RampRequest.OwnerOfHome" class="custom-control-label">Owner of home</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input asp-for="RampRequest.LiveAlone" class="custom-control-input" />
                        <label asp-for="RampRequest.LiveAlone" class="custom-control-label">Live alone</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input asp-for="RampRequest.PermanentMobilityImpairment" class="custom-control-input" />
                        <label asp-for="RampRequest.PermanentMobilityImpairment" class="custom-control-label">Permanently Impaired</label>
                    </div>
                </div>
            </div>
        </div>
    }

    <!--Date Info Section-->
    <div class="container rounded shadow bg-white my-4 p-4">
        <div class="row">
            <div class="col-lg-2 col-lg-2 my-1">
                <strong>Date</strong>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="DateOfRequest">Requested<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                <input class="form-control" asp-for="DateOfRequest" />
                <span asp-validation-for="DateOfRequest" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="JobStatus">Status<span class="text-danger">*</span></label>
            </div>
            <div class="col-lg-4 col-lg-4 my-1">
                @if (Model.ClientOnList)
                {
                    <p>Client lawn status is pending.</p>
                    <input value="0" name="JobStatus" hidden />
                }
                else
                {
                    <select class="custom-select" name="JobStatus">
                        <option value="" selected>Please Select A Status</option>
                        <option value="0">Active</option>
                        <option value="1">Inactive</option>
                        <option value="3">Unfulfilled</option>
                    </select>
                }
            </div>
        </div>
        <span asp-validation-for="JobStatus" class="text-danger"></span>

        <div class="form-group row">
            <div class="col my-1">
                <button class="btn btn-success" type="submit"><i class="fas fa-pen"></i> Update</button>
                <a class="btn btn-danger" asp-action="GetClientWorkOrders" asp-route-id="@Model.ClientId">Cancel <i class="fas fa-times"></i></a>
            </div>
        </div>
        <div class="form-group row">
            <div class="col my-1">
                <a class="text-link" asp-action="CompleteWorkOrder" asp-route-id="@Model.Id">Complete Work Order</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/workOrder_scripts/assistive_device.js"></script>