﻿@model CareConnectionApp.ViewModels.Clients.UpdateEheapViewModel
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Update EHEAP Form";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">View Clients</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="ClientDetails" asp-route-id="@Model.ClientId">Client Details</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="GetEheap" asp-route-id="@Model.ClientId">View EHEAP</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update EHEAP</li>
        }
    }
}
<form enctype="application/x-www-form-urlencoded" asp-action="UpdateEheap" class="loadingForm">
    <input asp-for="EheapId" hidden />
    <input asp-for="ClientId" hidden />
    <div class="container-fluid rounded shadow bg-white my-4 p-4">
        <h1>EHEAP Update Form</h1>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="ClientId">Client ID</label>
                <input asp-for="ClientId" readonly class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="Expenses">Expense<span class="text-danger">*</span></label>
                <input asp-for="Expenses" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4 my-2">
                <label asp-for="DateOfService">Date of service<span class="text-danger">*</span></label>
                <input asp-for="DateOfService" class="form-control" />
            </div>
        </div>
        <button class="btn btn-success" type="submit">Update</button>
        <a class="btn btn-danger" asp-action="GetEheap" asp-route-id="@Model.ClientId">Cancel <i class="fas fa-times"></i></a>

    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
