﻿@model CareConnectionApp.ViewModels.LawnService.LawnServiceViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Service List";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" aria-current="page" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Service List</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Service List</li>
        }
    }
}

<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <h1>Service List</h1>
            </div>
            <div class="col my-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="listDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lists
                    </button>
                    <div class="dropdown-menu" aria-labelledby="optionsDropDown">
                        <h6 class="dropdown-header">Lawn Service</h6>
                        @if (admin)
                        {
                            <a class="dropdown-item" asp-controller="Admin" asp-action="ViewPendingApprovalList">Pending List</a>
                        }
                        <a class="dropdown-item" asp-controller="Clients" asp-action="ViewWaitList">Wait List</a>
                        <a class="dropdown-item active" asp-controller="Clients" asp-action="ViewServiceList">Service List</a>
                    </div>
                </div>
            </div>
        </div>

        @if (admin)
        {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddLawnService">Add Service</a>
        }
        <button class="btn btn-outline-primary" onclick="checkFilterForPrint()">Print</button>

        <div class="form-row">
            <div class="col-lg-2 my-1">
                <form method="post" id="serviceListFilterForm" onchange="checkFilterStatus()" asp-controller="Clients" asp-action="ViewServiceList">
                    <label asp-for="Id">Zone</label>
                    <select id="filter" class="custom-select" asp-for="Id">
                        <option value="" selected>Select a Zone</option>
                        @foreach (Zone z in Model.Zones)
                        {
                            <option value="@z.Id">@z.Name</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.Id" class="text-danger"></span>
                </form>
            </div>
        </div>
        <div class="form-row">
            <div class="col my-2">
                <a class="btn btn-danger" asp-controller="Clients" asp-action="ViewServiceList">Reset</a>
                @if (!String.IsNullOrEmpty(Model.TooManyClientsWarning))
                {
                    <p class="text-danger">@Model.TooManyClientsWarning</p>
                }
            </div>
            @if (admin)
            {
                <div class="col-4">
                    <h4>Total clients: @Model.NumberOfClients</h4>
                </div>
            }

            @if (Model.DaysSinceLastService == -1)
            {
                <div class="col-4">
                    <h4>Days since last service: No lawn services available.</h4>
                </div>
            }
            else if (Model.DaysSinceLastService != null)
            {
                <div class="col-6 text-center">
                    <h4>Days since last service: @Model.DaysSinceLastService</h4>
                    <h4>@Model.LastService</h4>
                </div>
            }
        </div>

        <table class="table table-hover table-sm" id="serviceListTable">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="border-0 text-link" onclick="sortNumberInTable('serviceListTable', 0)">ID <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('serviceListTable', 1)">Name <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortDateInTable('serviceListTable', 2)">Date Added <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('serviceListTable', 3)">Zone <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortDateInTable('serviceListTable', 4)">Last Service <i class="fas fa-sort"></i></th>
                    @if (admin)
                    {
                        <th class="border-0">Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var ls in Model.LawnServiceLists)
                {
                    <tr>
                        <td>@ls.Key.Client.Id</td>
                        <td><a asp-controller="Clients" asp-action="ClientDetails" asp-route-id="@ls.Key.Client.Id">@ls.Key.Client.FirstName @ls.Key.Client.LastName</a></td>
                        <td>@ls.Key.TimeStamp.ToString("MM/dd/yyyy")</td>
                        <td>
                            @if (ls.Key.Client.ZoneJoining != null)
                            {
                                @ls.Key.Client.ZoneJoining.Zone.Name
                            }
                            else
                            {
                                @Html.Raw("--")
                            }
                        </td>
                        @if (ls.Key.Client.ZoneJoining.Zone.LawnService.Any())
                        {
                            <td>@ls.Value</td>
                        }
                        else
                        {
                            <td>--</td>
                        }
                        @if (admin)
                        {
                            <td>
                                <a class="btn btn-primary ml-2" asp-controller="Admin" asp-action="AddZoneToClient" asp-route-id="@ls.Key.ClientId">Edit Zone</a>
                                <button class="btn btn-danger text-light" onclick="confirmDelete(@ls.Key.Id)">Remove</button>
                            </td>
                        }
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/lawn_service.js"></script>
    <script src="~/js/tableSorting.js"></script>
    <script>
        function confirmDelete(id) {
            var r = confirm("Are you sure you want to remove this client? ");
            if (r) {
                window.location.replace("/Admin/RemoveFromServiceList?id=" + id);
            }

        }
    </script>
}