﻿@model CareConnectionApp.ViewModels.LawnService.WaitListViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Wait List";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" aria-current="page" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">Wait List</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Wait List</li>
        }
    }
}


<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <h1>Wait List</h1>
            </div>
            <div class="col my-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="listDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lists
                    </button>
                    <div class="dropdown-menu" aria-labelledby="optionsDropDown">
                        <h6 class="dropdown-header">Lawn Service</h6>
                        @if (admin)
                        {
                            <a class="dropdown-item" asp-controller="Admin" asp-action="ViewPendingApprovalList">Pending List</a>
                        }
                        <a class="dropdown-item active" asp-controller="Clients" asp-action="ViewWaitList">Wait List</a>
                        <a class="dropdown-item" asp-controller="Clients" asp-action="ViewServiceList">Service List</a>
                    </div>
                </div>
            </div>
        </div>
        <form id="waitListFilterForm" onchange="filterWaitList()" asp-action="ViewWaitList" method="post">
            <div class="form-row">
                <div class="col-lg-2 my-1">
                    <label asp-for="Id">Zone</label>
                    <select id="filter" class="custom-select" asp-for="Id">
                        <option value="" selected>Select a Zone</option>
                        @foreach (Zone z in Model.Zones)
                        {
                            <option value="@z.Id">@z.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </div>
        </form>
        <div class="form-row">
            <div class="col my-2">
                <a class="btn btn-danger" asp-controller="Clients" asp-action="ViewWaitList">Reset</a>
                @if (!String.IsNullOrEmpty(Model.TooManyClientsWarning))
                {
                    <p class="text-danger">@Model.TooManyClientsWarning</p>
                }
            </div>
            @if (admin)
            {
                <div class="col-4 mr-4">
                    <h4>Total clients: @Model.NumberOfClients</h4>
                </div>
                <div class="col mr-5 mt-3 text-right">
                    <a class="text-link" id="addToServiceList">Approve Selected</a>
                </div>
            }
        </div>

        <table class="table table-hover table-sm" id="waitListTable">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="border-0 text-link" onclick="sortNumberInTable('waitListTable', 0)">ID <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('waitListTable', 1)">Name <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortDateInTable('waitListTable', 2)">Date Added <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('waitListTable', 3)">Zone <i class="fas fa-sort"></i></th>
                    @if (admin)
                    {
                        <td class="border-0">Actions</td>
                        <th class="border-0 text-center">Approve</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (WaitList wl in Model.WaitList)
                {
                    <tr>
                        <td>@wl.Client.Id</td>
                        <td><a asp-controller="Clients" asp-action="ClientDetails" asp-route-id="@wl.Client.Id">@wl.Client.FirstName @wl.Client.LastName</a></td>
                        <td>@wl.TimeStamp.ToString("MM/dd/yyyy")</td>
                        <td>
                            @if (wl.Client.ZoneJoining != null)
                            {
                                @wl.Client.ZoneJoining.Zone.Name
                            }
                            else
                            {
                                @Html.Raw("--")
                            }
                        </td>
                        @if (admin)
                        {
                            <td>
                                <a class="btn btn-success" asp-controller="Admin" asp-action="AddToServiceList" asp-route-id="@wl.Id">Approve</a>
                                <button class="btn btn-danger text-light" onclick="confirmDelete(@wl.Id)">Disapprove</button>
                                <a class="btn btn-primary" asp-controller="Admin" asp-action="AddZoneToClient" asp-route-id="@wl.ClientId">Edit Zone</a>
                            </td>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox custom-control-inline custom-control-lg">
                                    <input id="@wl.Id" class="custom-control-input" type="checkbox" onclick="addToServiceList(this, @wl.Id)" />
                                    <label for="@wl.Id" class="custom-control-label"></label>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/lawn_service.js"></script>
    <script src="~/js/tableSorting.js"></script>
    <script>
        function confirmDelete(id) {
            var r = confirm("Are you sure you want to remove this client? ");
            if (r) {
                window.location.replace("/Admin/RemoveFromWaitList?id=" + id);
            }

        }
    </script>
}