﻿@model CareConnectionApp.ViewModels.WorkOrders.WorkDetailsViewModel
@using CareConnectionApp.Enums
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Work Order Details";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="">@ViewData["Title"]</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item"><a class="text-light" asp-controller="Clients" asp-action="ViewClients">Home</a></li>
            <li class="breadcrumb-item"><a class="text-light" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Work Order</li>
        }
    }
}
<!--Client Info Section-->
<div class="container rounded shadow bg-white my-4 p-4">
    <h1>Work Order #@Html.Display("WorkOrder.Id") Details</h1>
    <div class="w-100 text-center">
        @if (Model.WorkOrder.WorkOrderCompletionFormId == null)
        {
            <a class="btn btn-primary" asp-action="CompleteWorkOrder" asp-route-id="@Model.WorkOrder.Id">Complete Work Order</a>
        }
        <a class="btn btn-primary" asp-action="UpdateWorkOrder" asp-route-id="@Model.WorkOrder.Id">Update Work Order</a>
        <a class="btn btn-primary" asp-action="GetClientWorkOrders" asp-route-id="@Model.Client.Id">View Client Work Orders</a>
        <a class="btn btn-primary" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a>
        <a class="btn btn-success" asp-action="PrintWorkOrderDetails" asp-route-id="@Model.WorkOrder.Id" target="_blank">Print</a>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-2 my-1">
            <strong>Client Information</strong>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="Client.FirstName">First Name</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="Client.FirstName" />
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="Client.LastName">Last Name</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="Client.LastName" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="Client.StreetAddress">Address</label>
        </div>
        <div class="col-lg-6 col-lg-6 my-1">
            <input class="form-control bg-white" disabled asp-for="Client.StreetAddress" />
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <input class="form-control bg-white" disabled asp-for="Client.City" />
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <input class="form-control bg-white" disabled asp-for="Client.Zip" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="Client.HomePhone">Main Phone</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="Client.HomePhone" data-mask="999-999-9999" placeholder="###-###-####" />
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="Client.CellPhone">Secondary Phone</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="Client.CellPhone" data-mask="999-999-9999" placeholder="N/A" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.SecondaryContact">Secondary Contact:</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="WorkOrder.SecondaryContact" />
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.SecondaryContactNumber">Secondary Contact Phone Number:</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="WorkOrder.SecondaryContactNumber" data-mask="999-999-9999" placeholder="###-###-####" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="form-check-label" asp-for="Client.HasPets">Pets</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <div class="form-check">
                <input class="form-control bg-white" disabled asp-for="Client.HasPets" />
            </div>
        </div>

        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="Client.EheapId">EHEAP Form</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            @if (Model.Client.EheapId != null)
            {
                <input class="form-control bg-white" disabled value="Provided" />
            }
            else
            {
                <input class="form-control bg-white" disabled value="Not Provided" />
            }
        </div>
    </div>
</div>

<!--Request Info Section-->
<div class="container rounded shadow bg-white my-4 p-4">
    <div class="row">
        <div class="col-lg-2 col-lg-2 my-1">
            <strong>Request Information</strong>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCategory">Type</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="WorkOrder.WorkOrderCategory.Category" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.ReqDescription"></label>
        </div>
        <div class="col-lg-10 col-lg-10 my-1">
            <textarea class="form-control bg-white" disabled asp-for="WorkOrder.ReqDescription"></textarea>
        </div>
    </div>
    @if (Model.WorkOrder.WorkOrderCategory.Category.Equals("Assistive Device"))
    {
        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="AssistiveDevice">Device</label>
            </div>
            <div class="col-lg-10 col-lg-10 my-1">
                <input class="form-control bg-white" disabled asp-for="AssistiveDevice.Name" />
            </div>
        </div>
    }
</div>

<!--Date Info Section-->
<div class="container rounded shadow bg-white my-4 p-4">
    <div class="row">
        <div class="col-lg-2 col-lg-2 my-1">
            <strong>Date</strong>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.DateOfRequest">Requested</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            @if (Model.WorkOrder.DateOfRequest != null)
            {
                <input class="form-control bg-white" disabled asp-for="WorkOrder.DateOfRequest" />
            }
            else
            {
                <input class="form-control bg-white" disabled />

            }
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCompletionForm.DateAccepted">Accepted</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            @if (Model.WorkOrder.WorkOrderCompletionFormId != null)
            {
                <input class="form-control bg-white" disabled asp-for="WorkOrder.WorkOrderCompletionForm.DateAccepted" />
            }
            else
            {
                <input class="form-control bg-white" disabled />

            }

        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCompletionForm.DateStarted">Started</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            @if (Model.WorkOrder.WorkOrderCompletionFormId != null)
            {
                <input class="form-control bg-white" disabled asp-for="WorkOrder.WorkOrderCompletionForm.DateStarted" />
            }
            else
            {
                <input class="form-control bg-white" disabled />
            }
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCompletionForm.DateCompleted">Completed</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            @if (Model.WorkOrder.WorkOrderCompletionFormId != null)
            {
                <input class="form-control bg-white" disabled asp-for="WorkOrder.WorkOrderCompletionForm.DateCompleted" />
            }
            else
            {
                <input class="form-control bg-white" disabled />
            }
        </div>
    </div>
</div>

<!--Volunteer Info Section-->
<div class="container rounded shadow bg-white my-4 p-4">
    <div class="row">
        <div class="col-lg-2 col-lg-2 my-1">
            <strong>Volunteer Information</strong>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCompletionForm.Volunteers">Volunteers</label>
        </div>
        <div class="col-lg-10 col-lg-10 my-1">
            <input class="form-control bg-white" disabled asp-for="WorkOrder.WorkOrderCompletionForm.Volunteers" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCompletionForm.HoursWorked">Hours</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="WorkOrder.WorkOrderCompletionForm.HoursWorked" />
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCompletionForm.Mileage">Mileage</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="WorkOrder.WorkOrderCompletionForm.Mileage" />
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCompletionForm.Expenses">Expenses</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="WorkOrder.WorkOrderCompletionForm.Expenses" />
        </div>
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCompletionForm.Donation">Donation</label>
        </div>
        <div class="col-lg-4 col-lg-4 my-1">
            <input class="form-control bg-white" disabled asp-for="WorkOrder.WorkOrderCompletionForm.Donation" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.WorkOrderCompletionForm.Comments"></label>
        </div>
        <div class="col-lg-10 col-lg-10 my-1">
            <textarea class="form-control bg-white" disabled asp-for="WorkOrder.WorkOrderCompletionForm.Comments"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-2 col-lg-2 my-1">
            <label class="col-form-label" asp-for="WorkOrder.JobStatus">Status</label>
        </div>
        <div class="col-lg-10 col-lg-10 my-1">
            <select asp-for="WorkOrder.JobStatus" class="form-control" asp-items="@Html.GetEnumSelectList<JobStatus>()" disabled></select>
        </div>
    </div>

    @if (Model.WorkOrder.RampRequest == null)
    {
        <div class="w-100 text-center">
            @if (Model.WorkOrder.WorkOrderCompletionFormId == null)
            {
                <a class="btn btn-primary" asp-action="CompleteWorkOrder" asp-route-id="@Model.WorkOrder.Id">Complete Work Order</a>
            }
            <a class="btn btn-primary" asp-action="UpdateWorkOrder" asp-route-id="@Model.WorkOrder.Id">Update Work Order</a>
            <a class="btn btn-primary" asp-action="GetClientWorkOrders" asp-route-id="@Model.Client.Id">View Client Work Orders</a>
            <a class="btn btn-primary" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a>
            <a class="btn btn-success" asp-action="PrintWorkOrderDetails" asp-route-id="@Model.WorkOrder.Id" target="_blank">Print</a>
        </div>
    }
</div>

<!--Ramp Request Information-->

@if (Model.WorkOrder.RampRequest != null)
{
    <div class="container rounded shadow bg-white my-4 p-4">
        <div class="row">
            <div class="col-lg-2 col-lg-2 my-1">
                <strong>Ramp Request Information</strong>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrder.RampRequest.MobilityDescription">Mobility Description</label>
            </div>
            <div class="col-lg-10 col-lg-10 my-1">
                <input asp-for="WorkOrder.RampRequest.MobilityDescription" class="form-control bg-white" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrder.RampRequest.MobilityAssistance">Mobility Assistance</label>
            </div>
            <div class="col-lg-10 col-lg-10 my-1">
                <input asp-for="WorkOrder.RampRequest.MobilityAssistance" class="form-control bg-white" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-lg-2 my-1">
                <label class="col-form-label" asp-for="WorkOrder.RampRequest.LengthOfHomeOwnership">Length Of Ownership</label>
            </div>
            <div class="col-lg-10 col-lg-10 my-1">
                <input asp-for="WorkOrder.RampRequest.LengthOfHomeOwnership" class="form-control bg-white" disabled />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <div class="form-check form-check-inline">
                    <input asp-for="WorkOrder.RampRequest.ContactedVA" disabled class="form-check-input" />
                    <label asp-for="WorkOrder.RampRequest.ContactedVA" class="form-check-label">Contacted VA</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="WorkOrder.RampRequest.OwnerOfHome" disabled class="form-check-input" />
                    <label asp-for="WorkOrder.RampRequest.OwnerOfHome" class="form-check-label">Owner of home</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="WorkOrder.RampRequest.LiveAlone" disabled class="form-check-input" />
                    <label asp-for="WorkOrder.RampRequest.LiveAlone" class="form-check-label">Live alone</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="WorkOrder.RampRequest.PermanentMobilityImpairment" disabled class="form-check-input" />
                    <label asp-for="WorkOrder.RampRequest.PermanentMobilityImpairment" class="form-check-label">Permanently Impaired</label>
                </div>
            </div>
        </div>
        <div class="w-100 text-center">
            @if (Model.WorkOrder.WorkOrderCompletionFormId == null)
            {
                <a class="btn btn-primary" asp-action="CompleteWorkOrder" asp-route-id="@Model.WorkOrder.Id">Complete Work Order</a>
            }
            <a class="btn btn-primary" asp-action="UpdateWorkOrder" asp-route-id="@Model.WorkOrder.Id">Update Work Order</a>
            <a class="btn btn-primary" asp-action="GetClientWorkOrders" asp-route-id="@Model.Client.Id">View Client Work Orders</a>
            <a class="btn btn-primary" asp-action="ClientDetails" asp-route-id="@Model.Client.Id">Client Details</a>
            <a class="btn btn-success" asp-action="PrintWorkOrderDetails" asp-route-id="@Model.WorkOrder.Id" target="_blank">Print</a>
        </div>
    </div>
}



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
