﻿@model CareConnectionApp.ViewModels.Clients.SearchClientViewModel
@using Microsoft.AspNetCore.Identity
@using CareConnectionApp.Models
@using CareConnectionApp.Enums
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "View Clients";
    var user = await _userManager.GetUserAsync(User);
    var admin = false;
    if (_signInManager.IsSignedIn(User))
    {
        admin = await _userManager.IsInRoleAsync(user, "Admin");
    }

    if (admin)
    {
        Layout = "_AdminLayout";
        @section Breadcrumb {
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Home</a>
            <a class="btn btn-outline-primary" aria-current="page" asp-action="ViewClients">View Clients</a>
        }
    }
    else
    {
        Layout = "_OfficeStaffNavPartial";
        @section OfficeStaffBreadcrumb {
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        }
    }
}

<div class="container-fluid rounded shadow bg-white mb-4 p-4">
    <h1>View Clients</h1>
    <a class="btn btn-primary" asp-action="CreateClient"><i class="fas fa-plus"></i> Add client</a>

    @* TAB NAV *@
    <ul class="nav nav-tabs my-2">
        <li class="nav-item">
            <a class="nav-link" id="idTab" data-toggle="tab" href="#idTabContent" role="tab" aria-controls="idTabContent" aria-selected="true">ID</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="detailedTab" data-toggle="tab" href="#detailedTabContent" role="tab" aria-controls="detailedTabContent" aria-seleced="false">Advanced</a>
        </li>
    </ul>
    <form asp-action="SearchClients" method="post">
        <div class="tab-content">
            <div class="tab-pane fade show" id="idTabContent" role="tabpanel" aria-labelledby="idTab">
                <h5>Search by ID</h5>
                <div class="row">
                    <div class="col-lg-2">
                        <input asp-for="ClientID" class="form-control" placeholder="ID" />
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="detailedTabContent" role="tabpanel" aria-labelledby="detailedTab">
                <h5>Search by any of the following</h5>
                <div class="row">
                    <div class="col-lg my-1">
                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                    </div>
                    <div class="col-lg my-1">
                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                    </div>
                    @*<div class="col-lg my-1">
                        <input class="form-control" placeholder="Active Job Count" />
                    </div>*@
                    <div class="col-lg my-1">
                        <input asp-for="StreetAddress" class="form-control" placeholder="Address" />
                    </div>
                    <div class="col-lg my-1">
                        <input asp-for="City" class="form-control" placeholder="City Name" />
                    </div>
                    <div class="col-lg my-1">
                        <input asp-for="Zip" class="form-control" placeholder="Zip" />
                    </div>
                    <div class="col-lg my-1">
                        <input asp-for="HomePhone" class="form-control" placeholder="Main Phone" />
                    </div>
                </div>
            </div>
        </div>
        @if (admin)
        {
            <h5>Select client status</h5>
            <div class="row my-2">
                <div class="col-lg-2 my-1">
                    <select asp-for="clientStatus" class="form-control" asp-items="@Html.GetEnumSelectList<ClientStatus>()"></select>
                </div>
            </div>
        }
        <div class="row my-2">
            <div class="col-lg-2 my-1">
                <button type="submit" class="btn btn-success"><i class="fas fa-search"></i> Search</button>
                <a asp-action="ViewClients" class="btn btn-danger"><i class="fas fa-redo"></i> Reset</a>
            </div>
        </div>
        <input hidden asp-for="PageNum" value="@Model.PageNum" />
        @if (Model.FromPost == true)
        {
            <p>Showing @Model.ShownResults out of @Model.TotalResults results.</p>
        }

    </form>
    <div class="table-responsive d-none d-lg-block d-xl-block">
        <table class="table table-hover table-sm" id="viewClientsTable">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="border-0 text-link" onclick="sortNumberInTable('viewClientsTable', 0, true, 'id')">ClientID <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('viewClientsTable', 1, true, 'firstName')">First Name <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('viewClientsTable', 2, true, 'lastName')">Last Name <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('viewClientsTable', 3, true, 'streetAddress')">Street Address <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortStringInTable('viewClientsTable', 4, true, 'city')">City <i class="fas fa-sort"></i></th>
                    <th class="border-0 text-link" onclick="sortNumberInTable('viewClientsTable', 5, true, 'zip')">Zip <i class="fas fa-sort"></i></th>
                    <th class="border-0">Main Phone</th>
                    <th class="border-0">Secondary Phone</th>
                    <th class="border-0 text-link" onclick="sortNumberInTable('viewClientsTable', 8, true, 'jobCount')">Active Jobs<i class="fas fa-sort"></i></th>
                    <th class="border-0">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Group in Model.SearchClientResults)
                {
                <tr>
                    <td>
                        @Group.Key.Id
                    </td>
                    <td>
                        <a asp-action="ClientDetails" asp-route-id="@Group.Key.Id">@Group.Key.FirstName</a>
                    </td>
                    <td>
                        <a asp-action="ClientDetails" asp-route-id="@Group.Key.Id">@Group.Key.LastName</a>
                    </td>
                    <td>
                        @Group.Key.StreetAddress
                    </td>
                    <td>
                        @Group.Key.City
                    </td>
                    <td>
                        @Group.Key.Zip
                    </td>
                    <td>
                        @if (Group.Key.HomePhone == null)
                        {
                            @Html.Raw("N/A")
                        }
                        else
                        {
                            if (Group.Key.HomePhone.Length == 12)
                            {
                                @Group.Key.HomePhone
                            }
                            else
                            {
                                @String.Format("{0:###-###-####}", double.Parse(Group.Key.HomePhone));
                            }
                        }
                    </td>
                    <td>
                        @if (Group.Key.CellPhone == null)
                        {
                            @Html.Raw("N/A")
                        }
                        else
                        {
                            if (Group.Key.CellPhone.Length == 12)
                            {
                                @Group.Key.CellPhone
                            }
                            else
                            {
                                @String.Format("{0:###-###-####}", double.Parse(Group.Key.CellPhone));
                            }
                        }
                    </td>
                    <td class="text-center">
                        @Group.Last()
                    </td>
                    <td>
                        <a class="btn btn-sm btn-success" asp-action="ClientDetails" asp-route-id="@Group.Key.Id"><i class="fas fa-user"></i> Details</a>
                        <a class="btn btn-sm btn-warning" asp-action="GetClientWorkOrders" asp-route-id="@Group.Key.Id"><i class="fas fa-wrench"></i> Requests</a>
                        <a class="btn btn-sm btn-info" asp-action="CreateWorkOrder" asp-route-id="@Group.Key.Id"><i class="fas fa-plus"></i> New request</a>
                        @if (Group.Key.EheapId != null)
                        {
                            <a class="btn btn-sm btn-info" asp-action="GetEheap" asp-route-id="@Group.Key.Id"><i class="fas fa-file"></i> View EHEAP</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-info" asp-action="CreateEheap" asp-route-id="@Group.Key.Id"><i class="fas fa-plus"></i> Add EHEAP</a>
                        }
                        @if (admin)
                        {

                            <button class="btn btn-outline-warning btn-sm favorite-button" id="@Group.Key.Id" clientId="@Group.Key.Id"><i class="far fa-star text-warning"></i></button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    @foreach (var Group in Model.SearchClientResults)
    {
        <div class="card d-block d-lg-none d-xl-none">
            <div class="card-body">
                <h5 class="card-title">
                    @Group.Key.FirstName @Group.Key.LastName
                    @if (admin)
                    {

                        <button class="btn btn-outline-warning btn-sm favorite-button" id="@Group.Key.Id" clientId="@Group.Key.Id"><i class="far fa-star text-warning"></i></button>
                    }
                </h5>
                <h6 class="card-subtitle text-muted">ID: @Group.Key.Id</h6>
                @if (Group.Key.HomePhone != null)
                {
                    <p class="card-text">Home Phone: @String.Format("{0:###-###-####}", double.Parse(Group.Key.HomePhone))</p>
                }
                @if (Group.Key.CellPhone != null)
                {
                    <p class="card-text">Cell Phone: @String.Format("{0:###-###-####}", double.Parse(Group.Key.CellPhone))</p>
                }
                <div class="row">
                    <div class="col">
                        <a class="card-link accent-text-color" asp-action="ClientDetails" asp-route-id="@Group.Key.Id">Client Details</a>
                    </div>
                    <div class="col">
                        <a class="card-link accent-text-color" asp-action="GetClientWorkOrders" asp-route-id="@Group.Key.Id">Work Requests</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="card-link accent-text-color" asp-action="CreateWorkOrder" asp-route-id="@Group.Key.Id">New request</a>
                    </div>
                    <div class="col">
                        @if (Group.Key.EheapId != null)
                        {
                            <a class="card-link accent-text-color" asp-action="GetEheap" asp-route-id="@Group.Key.Id">View Eheap</a>
                        }
                        else
                        {
                            <a class="card-link accent-text-color" asp-action="CreateEheap" asp-route-id="@Group.Key.Id">Add Eheap</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.FromPost == true)
    {
        <form asp-action="MoreClients" method="post">

            <input hidden asp-for="@Model.SortBy" class="sortBy" />
            <input hidden asp-for="@Model.SortOrder" class="sortOrder" /> @*Ture for Ascending, flase for Descending*@

            <input hidden asp-for="@Model.PageNum" value="@Model.PageNum" />
            <div class="col">
                <input hidden asp-for="ClientID" class="form-control" placeholder="Search by ID" />
            </div>

            <div class="col">
                <input hidden asp-for="FirstName" class="form-control" placeholder="First Name" />
            </div>
            <div class="col">
                <input hidden asp-for="LastName" class="form-control" placeholder="Last Name" />
            </div>
            <div class="col">
                <input hidden asp-for="StreetAddress" class="form-control" placeholder="Address" />
            </div>
            <div class="col">
                <input hidden asp-for="City" class="form-control" placeholder="City Name" />
            </div>
            <div class="col">
                <input hidden asp-for="Zip" class="form-control" placeholder="Zip" />
            </div>
            <div class="col">
                <input hidden asp-for="HomePhone" class="form-control" placeholder="HomePhone" />
            </div>
            @if (admin)
            {
                <input hidden asp-for="clientStatus" />
            }
            <div class="text-center">
                <button type="submit" class="btn btn-warning">More</button>
            </div>

        </form>
    }
</div>
<script src="~/js/tableSorting.js"></script>
<script src="~/js/view_clients.js"></script>
@if (admin)
{
    <script src="~/js/admin_scripts/favoriteClients.js"></script>
    <script>
        $(".favorite-button").click(function () {
            removeFavorite($(this));
            updateFavoriteButton($(this));
        });

        $(function () {
            updateFavoritesOnLoad($('.favorite-button'));
            checkAdvancedSearch();

        });
    </script>
}
else
{
    <script>
        $(function () {
            checkAdvancedSearch();
        });
    </script>
}
